[2012-11-30 23:49] zenspider opened #1 "ruby-mode is not a good name"
Per jacott/Enhanced-Ruby-Mode#20

[2012-11-30 23:50] zenspider opened #2 "Incorrect parsing / indention"
Per jacott/Enhanced-Ruby-Mode#21

[2012-11-30 23:50] zenspider opened #3 "syntax highlighting seems to bork all other highlighting"
Per jacott/Enhanced-Ruby-Mode#22

[2012-11-30 23:59] zenspider opened #4 "sexp movement is off by one"
Per jacott/Enhanced-Ruby-Mode#23

[2012-12-01 00:00] zenspider opened #5 "Don't Hardcode Syntax Colors"
Per jacott/Enhanced-Ruby-Mode#18

[2012-12-01 00:01] zenspider opened #6 "Conflicts With YASnippet"
Per jacott/Enhanced-Ruby-Mode#17

[2012-12-01 01:00] #1 closed, assigned to nobody

[2012-12-01 01:01] #4 closed, assigned to nobody

[2012-12-04 03:07] #2 closed, assigned to nobody

[2012-12-04 03:25] #3 closed, assigned to nobody

[2012-12-05 00:24] #5 closed, assigned to nobody

[2012-12-05 03:10] #6 closed, assigned to nobody

[2012-12-11 03:16] JEG2 opened #7 "Easier Installing"
Any chance we could submit a replacement recipe [for the abandoned mode](https://github.com/dimitri/el-get/blob/master/recipes/Enhanced-Ruby-Mode.rcp) to [el-get](https://github.com/dimitri/el-get)?  This would make it a little easier to get up and running with, for me anyway.

[2013-01-29 21:24] #7 closed, assigned to nobody

[2013-02-23 12:06] asok opened #9 "Deadlock on enh-ruby-end-of-block"
# Failure

Given buffer content is as follows:

[code]

When I do `M-x enh-ruby-end-of-block RET`
Then I experience a deadlock
# Workaround

Given I apply a diff on `enh-ruby-mode.el` that removes `skip-syntax-forward` function call from `enh-ruby-forward-sexp`:

[code]

Given buffer content is as follows:

[code]

When I do `M-x enh-ruby-end-of-block RET`
Then my point is on char `10` (that is `e

[2013-02-23 12:15] asok opened #10 "Not working with expand-region"
Does anyone have some better luck with [expand-region](https://github.com/magnars/expand-region.el)?
For example for this buffer:

[code]

When point is on line `3` and the major mode is `ruby-mode` call to `er/expand-region` will first wrap `each` method and then whole `test` function definition. Whereas for `enh-ruby-mode` it will skip `each` and will wrap `test` definition at first call to `er/

[2013-03-06 01:18] danielsz opened #12 "inf-ruby"
On the subject of inf-ruby, what do you reckon would be best to activate its key bindings?

inf-ruby currently is adding its keybindings on ruby-mode hard-wired:

[code]

[2013-03-12 06:25] danielsz opened #14 "emacs --daemon"
requiring color causes emacs --daemon to spit out errors.

[2013-06-26 23:46] ChasManRors opened #18 "Errors out in defun erm-parse with Symbol's value as variable is void: need-syntax-check-p"
error in process filter: enh-ruby-fontify-buffer: Symbol's value as variable is void: need-syntax-check-p
error in process filter: Symbol's value as variable is void: need-syntax-check-p
Revert buffer from file /Users/cmagid/Downloads/koans/about_strings.rb? (y or n)  y
error in process filter: enh-ruby-fontify-buffer: Symbol's value as variable is void: need-syntax-check-p
error in process filter

[2013-07-23 01:07] zenspider opened #21 "Bad indentation with interpolated strings"
[code]

ruby-mode does this fine. erm does not.

[2013-08-01 00:09] #12 closed, assigned to zenspider

[2013-08-06 21:55] #14 closed, assigned to zenspider

[2013-08-06 21:56] #21 closed, assigned to zenspider

[2013-08-26 21:55] #18 closed, assigned to zenspider

[2013-08-28 02:39] awood45 opened #24 "color.el dependency not loading for Emacs 23"
I'll add a stack trace tonight when I get to the affected machine.

Essentially, on Emacs 23 running on Ubuntu, I am unable to load the 'color.el' dependency, and Googling for the source of that file isn't of much help. Emacs 24 on OSX runs fine.

Not sure if this is a problem for everyone or just me, but it definitely isn't working out of the box. If it turns out to be a part of my particular set

[2013-11-01 15:32] Trevoke opened #28 "Map \C-m to newline-and-indent?"
Hi there,

I'm new to emacs, so this may be a terrible breach of protocol. If so, I apologize. Anyway, I noticed that C-m was bound to 'newline and not 'newline-and-indent. Is there a philosophical / best practice reason for that?

[2013-11-15 18:25] #28 closed, assigned to nobody

[2013-11-15 18:25] #24 closed, assigned to zenspider

[2013-11-17 13:43] Trevoke opened #30 "Add font faces"
Hi,

I'm trying to create a color theme I like, and I find that some things aren't colorizable due to font-faces that don't exist. here are the code examples I've found so far which don't have separate font-faces:

1. %w[]
2. true / false
3. self
4. numbers
5. def / end
6. if / else / end

If there are no reasons to not add those, I'm willing to do the work :)

[2013-11-19 20:07] jmdeldin opened #31 "%i[] does not highlight correctly"
Hi,

Something weird happens to the font display when using %i (if I change it to %w, it's fine):

![screenshot from 2013-11-19 12 01 05](https://f.cloud.github.com/assets/48903/1575974/594e8506-5155-11e3-8886-a4dc423d0a47.png)

Running `M-x describe-face` on the "m" in the last block results in `font-lock-keyword-face` instead of `default`. I tried starting emacs with `-Q` and the manually loadin

[2013-11-26 00:53] CyborgMaster opened #32 "%q literals"
`%q` and `%Q` literals are not recognized as strings.  More importantly, quotes inside those literals start a string that can go for the rest of the file.  Ex:

`%q{I wish this wouldn't quote my whole file}`

The single quote in `wouldn't` starts a string that is never closed.  It should start a string inside a %q.

[2013-11-29 22:50] #31 closed, assigned to nobody

[2013-12-03 17:17] sockmonk opened #33 "Indention of chained method calls"
Not sure if this a problem with my config or enh-ruby-mode, but it is the one different from ruby-mode I don't like. If I'm putting chained method calls on different lines, I'd subsequent lines to be indented:

[code]

ruby-mode does this, but enh-ruby-mode doesn't. I'm using rbenv; the project's .ruby-version points at ruby 2.0.0-p195, but I do still have 1.9.2-p180 hanging around. Could it be pi

[2013-12-07 01:15] zenspider opened #34 "String interpolation isn't highlighted at all"
[code]

Commit to cause this: f6eb372

[2013-12-11 03:06] #33 closed, assigned to nobody

[2013-12-21 09:22] marktran opened #35 ""Format specifier doesn't match argument type" error"
I'm getting the following error when merging branches in magit:

[code]

[2014-01-09 12:41] jpablobr opened #36 "Modify hanging indent"
I would have thought that setting

[code]

would let me have the following indentation:

[code]

That's what the `ruby_hanging_indent` in vim does. Is there a way to do this with enh-ruby-mode?

[2014-01-17 10:04] zenspider opened #37 "`while do` double indents"
[code]

Not sure how to fix this since ripper doesn't boil up the type of `do` at that level. :(

[2014-01-23 03:27] #36 closed, assigned to zenspider

[2014-02-11 15:48] NobbZ opened #39 "Explain what makes enh-ruby-mode enhanced over ruby-mode"
Please explain what features are there which makes the enhanced ruby mode superior to the default one and put it in a section of the readme like “Why should I choose `enh-ruby-mode` and not `ruby-mode`” or something like that.

[2014-02-16 06:12] MichaelXavier opened #40 "define-derived-mode"
First off, forgive me for not submitting a patch. I've been using emacs for all of 4 days now and am not on that level yet.

After talking to some of the folks in the emacs irc channel, it seems like this mode should probably be using define-derived-mode of prog-mode so that any hooks that users define for all prog-modes will encompass enh-ruby-mode. My example is that I'm trying to set a vertical

[2014-02-22 16:50] CyborgMaster opened #41 "Indent properly on function call line wrap"
When I have a function call on the next line I would like to to indent like so:

[code]

But instead ERM keeps it on the same indent level as the previous line like this:

[code]

Is this a config setting I am missing, or a bug?

[2014-02-25 05:29] #41 closed, assigned to nobody

[2014-03-07 08:50] ghost opened #42 "indentation fails with (setq enh-ruby-indent-tabs-mode t)"
When indentation with tabs is enabled, the indentation of blocks starting from the second level are wrong. Assume `tab-width` and `enh-ruby-indent-level` are both 8 and `enh-ruby-indent-tabs-mode` is t, then I get the following indentation:
![enhrm-bad](https://f.cloud.github.com/assets/426536/2355158/42ac3e5a-a5d4-11e3-809d-1ce07a6945bc.png)
However, the following is expected:
![enhrm-good](https

[2014-03-19 09:30] ksjogo opened #43 "show-paren 24.4"
Emacs 24.4 ruby mode is supporting highlighting matching keywords like if end, do end...
One could probably take these function from 24.4 ruby mode and just enable them.

[2014-03-24 00:35] #43 closed, assigned to nobody

[2014-04-04 21:43] #34 closed, assigned to zenspider

[2014-04-04 22:04] #39 closed, assigned to zenspider

[2014-04-05 00:45] #10 closed, assigned to zenspider

[2014-04-05 01:30] zenspider opened #46 "Fix indentation of multi-line method chains with leading dots"
[code]

works fine

[code]

does not.

This is related to #33.

[2014-04-05 08:57] #42 closed, assigned to zenspider

[2014-04-06 09:49] #46 closed, assigned to zenspider

[2014-04-06 09:52] #37 closed, assigned to zenspider

[2014-04-06 09:56] #32 closed, assigned to zenspider

[2014-04-16 21:57] #40 closed, assigned to zenspider

[2014-04-28 21:20] zenspider opened #50 "Deadlock on enh-ruby-up-sexp when already at top"
Open a new file with:

[code]

Put point between the two bodies and hit `M-C-u`.

[2014-04-28 21:23] zenspider opened #51 "enh-ruby-end-of-defun not going to the right place"
[code]

`enh-ruby-beginning-of-defun` works fine in this file, jumping twice across. But the opposite just goes to the end of the file.

[2014-04-28 21:48] #9 closed, assigned to zenspider

[2014-04-28 21:48] #51 closed, assigned to nobody

[2014-04-28 22:20] #50 closed, assigned to nobody

[2014-05-01 06:58] #35 closed, assigned to zenspider

[2014-05-06 08:39] jcinnamond opened #52 "C-m mapping"
[code]

This came back with with commit 8264bcda0b2b1af7f5e7b97ff1fce2c7f5c0b240 - is it intentional? It took me a while to work out why my global C-m binding stopped working...

[2014-05-13 15:11] vzvu3k6k opened #54 "Indentation is broken"
c61eee6091 is a nice work, but it has broken some indentations.

[code]

The following is a patch that fixes this problem:

[code]

[2014-05-14 03:40] #54 closed, assigned to nobody

[2014-05-20 21:58] mbriggs opened #57 "Error in process filter"
Hi!

I install stuff from melpa, which means I am basically going off of snapshots. enh-ruby-mode-20140508.1653 works fantastic, but enh-ruby-mode-20140513.2340 started giving me an issue where I would get:

[code]

..or other random rubocop output. More importantly, emacs hangs for  roughly half a second, which is INCREDIBLY irritating.

On a side note, if you add rubocop support to the mode, wou

[2014-05-20 23:13] #57 closed, assigned to nobody

[2014-05-21 21:26] #52 closed, assigned to nobody

[2014-05-24 17:31] scottjacobsen opened #58 "Allow outdenting access modifiers"
I would like to outdent access modifiers. Is there a way to do it, or could an option be added?

I would like to format like this:

[code]

I haven't figured it out yet. I tried this based on some advice I got [here](https://stackoverflow.com/questions/23818628/outdent-ruby-access-modifiers-in-emacs/23825702?noredirect=1#23825702):

[code]

That does outdent the access modifier, but it also outden

[2014-06-12 09:54] zenspider opened #59 "%w and friends should allow indentation within"
Currently they're treated as string content, not array content. These two should indent the same:

[code]

[2014-06-12 10:10] zenspider opened #60 "rake test:elisp fails on enh-ruby-backward-sexp... always has"
I went back to the origin of the file and it fails back then. So either I'm not getting something, or something changed underneath that is breaking things. That said, the tests kinda suck.

[2014-08-05 10:16] wasamasa opened #62 "Autoloading bug"
I've installed the latest version of this package using [Quelpa](https://github.com/quelpa/quelpa) and Emacs 24.3 on Arch Linux and ran into an autoloading bug:

[code]

`M-: (require 'enh-ruby-mode)` yields the following:

[code]

The error was reproduced with `emacs -q -l tmp/debug.el something.rb` and the following `debug.el` file:

[code]

[2014-08-07 06:38] jpablobr opened #63 "Keyword arguments in Ruby 2.0"
None of the following seems to supported:

[code]

http://brainspec.com/blog/2012/10/08/keyword-arguments-ruby-2-0/

They all get highlighted as invalid Ruby syntax.

I normally do not use this syntax, but today I had to work on a file with it and I was also not able to tweak my emacs config to handle it properly (the Ruby code works just fine).

[2014-08-08 01:58] #63 closed, assigned to nobody

[2014-08-08 14:57] stardiviner opened #64 "support Class.new for indent and `end` complete."
[code]

It does not have indentation support, and do not have `end` complete.

[2014-08-08 20:47] #64 closed, assigned to nobody

[2014-08-12 17:52] mcandre opened #65 "Remove dependency on ruby interpreter being installed"
I like editing scripts on the fly, on different systems where the relevant interpreter/compiler isn't actually installed. It's also good to be able to view / highlight Ruby code while Ruby is being installed.

Could we port Ripper to elisp, so that enh no longer depends on Ruby?

[2014-08-15 23:26] #65 closed, assigned to nobody

[2014-08-18 11:40] #62 closed, assigned to zenspider

[2014-10-28 16:23] ayqazi opened #67 "Support new method visibility syntax"
Hi,

Ruby 2.1 now allows you to do this:

[code]

enh-ruby-mode indents this as:

[code]

I intend to adopt this immediately, can enh-ruby-mode be changed to indent like the former example?

Thanks

[2015-01-20 16:25] agoodno opened #69 "error in process filter: erm-parse"
Sometimes I see this error when applying a stash with magit.

error in process filter: erm-parse: undefined method `add_content' for nil:NilClass: /Users/agoodnough/.emacs.d/elpa/enh-ruby-mode-20140901.1222/ruby/erm.rb:41:in`<main>'
error in process filter: undefined method `add_content' for nil:NilClass: /Users/agoodnough/.emacs.d/elpa/enh-ruby-mode-20140901.1222/ruby/erm.rb:41:in`<main>'

It see

[2015-01-30 23:06] zenspider commented on #69
I know about it. I just can't reproduce it reliably. Any help in that regard is welcome.

[2015-02-13 21:25] wasamasa opened #72 "Incompatibility with Ruby 2.2.0"
See also #71 for more context.

[code]

I get this error when using this mode with Ruby 2.2.0.  Downgrading to Ruby 2.1.5 makes it go away, looks like an incompatible change.  The backtrace suggests it's calling `on_nl nil` somewhere and therefore crashes because that should never happen.

[2015-02-14 00:40] zenspider commented on #72
Using 2.2.0 with a fresh emacs? or upgrading / switching ruby versions in the same emacs session? Try experimenting with `erm-reset`.

[2015-02-14 07:54] wasamasa commented on #72
Yes, this happens in a fresh Emacs instance. No, `erm-reset` does nothing except giving me the error again (presumably because it's not a problem with the Emacs instance).

[2015-02-14 09:02] zenspider commented on #72
OK. Cool. It is probably unrelated to the other problem then. Can you provide a snippet to repro with?

[2015-02-14 11:36] wasamasa commented on #72
I think I've narrowed it down to a minimal example:

[code]

Using Ruby 2.1 I get no errors. Using Ruby 2.2 I get the earlier backtrace.

[2015-02-14 15:31] vzvu3k6k commented on #72
Nice work :smile:

Here are [outputs of Ripper.lex(src) on your example in Ruby 2.1.4 and 2.2.0](https://gist.github.com/vzvu3k6k/4ca68e147f38017cbcb3).

An output of [Ripper.lex(src)](http://ruby-doc.org/stdlib-2.2.0/libdoc/ripper/rdoc/Ripper.html#method-c-lex) consists of `[[lineno(), column()], :on_#{event}, tok]` of each token. This is `diff 2.1.4.output 2.2.0.output`.

[code]

In Ruby 2.2.0,

[2015-02-15 00:00] zenspider commented on #72
Awesome. I've applied your patch @vzvu3k6k. Thanks!

[2015-02-15 00:00] #72 closed

[2015-02-22 22:17] pvenegas commented on #18
Managed to reproduce - this happened to me because I used to use ruby-mode, then switched to enh-ruby-mode at some point, and removed ruby-mode. But the .emacs.desktop file was calling desktop-create-buffer on some old files with ruby-mode. I removed all instances of ruby-mode from the desktop file and reloaded the desktop session, and it was fine.

[2015-02-25 09:49] exterm opened #73 "Allow disabling of automatic encoding comment insertion"
I want all ruby files interpreted as utf-8 and not comments inserted. As I see it, that's not (easily) possible now. I do not know emacs lisp so have no idea how to fix this...

[2015-02-25 10:41] zenspider commented on #73
AFAIK, the encoding comment is inserted automatically by emacs on save. It has little-to-nothing to do with ERM. Poke around in the reference manual in the International section and see what you can find: `C-h r m International RET`

[2015-02-25 10:53] exterm commented on #73
For `ruby-mode` I used `(setq ruby-insert-encoding-magic-comment nil)` and it worked. Does not seem to work for `enhanced-ruby-mode` though.

It seems the comment is inserted somewhere around here https://github.com/zenspider/enhanced-ruby-mode/blob/master/enh-ruby-mode.el#L357

[2015-03-12 16:26] esiegel commented on #73
There is a [before-save-hook](https://github.com/zenspider/enhanced-ruby-mode/blob/master/enh-ruby-mode.el#L265) which adds the encoding.

I'm fairly new to emacs myself, so I imagine there to be a better way, but since I wasn't able to find any configuration that disallows this hook, I've added some logic in my config that removes this hook when enh loads.

[code]

[2015-03-12 22:25] zenspider commented on #30
This doesn't seem to be going anywhere. Should I close?

[2015-03-13 03:16] Trevoke commented on #30
I mostly dropped the ball due to not being a developer for about a year, but I'm back at it now. I will start work on this, keeping in mind what we had done in the last issue, which was to provide a sane default for the people who don't like angry fruit salad :)

[2015-03-13 03:46] zenspider commented on #30
No worries and no rush. Just want the issue list to reflect reality.

[2015-03-27 23:20] idlecool opened #75 "A consitent indentaion for multiline method calls or multiline hash definitions"
This is a question and not an issue. I am posting it here as I don't know where else to ask. Is it possible to have a consistent 2 space indentation for multiline method calls and multiline hash definition?

I have created a sample code to explain my concern.

[code]

Is there a way I can switch to a strict 2 space indentation scheme in enhanced-ruby-mode?

[2015-03-27 23:35] stoodfarback commented on #75
Yep, there's an option for that, `enh-ruby-deep-indent-paren`. If you don't know how to edit options for emacs, adding this to the end of your .emacs should work in most cases:

    (setq enh-ruby-deep-indent-paren nil)

[2015-03-27 23:40] idlecool commented on #75
works like a charm. thank you. :+1:

[2015-03-27 23:40] #75 closed

[2015-04-07 03:31] terryfinn opened #76 "Syntax Highlighting and Indenting Not Working"
I can not get syntax highlighting to work in enh-ruby-mode. It works fine in ruby-mode, but when enh-ruby-mode is truned on everything is just black text, and auto indent stops working. I am running emacs 24.4.1 on Debian Wheezy, and I installed version 20150312.1458 of enh-ruby-package from melpa archive.

![screenshot from 2015-04-06 23 22 07](https://cloud.githubusercontent.com/assets/584017/70

[2015-04-07 09:23] zenspider commented on #76
This doesn't reproduce on my end. Running in GUI on OSX with -q, loading your elisp above, and then opening a file with the same content produces this for me:

![screen shot 2015-04-07 at 02 22 51](https://cloud.githubusercontent.com/assets/9832/7020342/1af23b68-dccd-11e4-92af-83e62bd28aac.png)

[2015-04-07 09:25] zenspider commented on #76
I should have added, The emacs I'm running is 24.4.1 as well.

Can you run with -q and run your code fresh?

[2015-04-07 11:31] terryfinn commented on #76
Same effect:
![screenshot from 2015-04-07 07 30 22](https://cloud.githubusercontent.com/assets/584017/7022269/fbc70d1a-dcf7-11e4-8675-e31184980828.png)

[2015-04-07 23:00] zenspider commented on #76
and that was with `emacs -q` ??? odd.

I'm gonna have to assume something is wonky with your emacs package. Can you re-try with `-Q`, it's a bit more restrictive. I do this:

[code]

and come out with properly syntax highlighted code.

[2015-04-08 12:46] terryfinn commented on #76
Same result no syntax highlighting and now indentation. I tried uninstalling the package and reinstalling it again; here is the package compilation log - I don't know if it is useful at all.

[code]

[2015-04-08 20:12] terryfinn commented on #76
I didn't realize this was a fork of the main repo; I am going to submit this over on the main repo.

[2015-04-08 20:18] zenspider commented on #76
This is a fork because it is supported. The main repo is dead. Reopening.

[2015-04-08 20:19] zenspider commented on #76
Can you re-do the -Q line above, but bring up the `*Messages*` buffer and show any relevant output here?

[2015-04-08 20:44] stoodfarback commented on #76
That `init.el` works for me as well, starting with `emacs -Q`. The only way I could get it to not work is to remove my `ruby` executable from the `PATH`, but there is a clear message displayed in that case:

![screenshot-2015-04-08-13 42 49](https://cloud.githubusercontent.com/assets/45657/7054995/2d61c3e4-ddf5-11e4-89b3-56dc6fae133a.png)

Maybe your messages are being silenced somehow? Perhaps ch

[2015-04-09 00:42] terryfinn commented on #76
Nothing interesting in the `*Messages*` buffer

[code]

[2015-04-09 01:56] zenspider commented on #76
I'm afraid that without a repro there is nothing I can really do. I tested your repro on linux mint, debian, and xubuntu and they all worked fine once ruby was installed. You're going to have to investigate and figure out how to reproduce this on new system.

[2015-04-09 01:58] zenspider commented on #76
What ruby are you using? `ruby -v` to show.

What do you get from `ruby -rripper -e 'p Ripper::Version'`

[2015-04-09 02:24] terryfinn commented on #76
[code]

[2015-04-11 00:08] terryfinn commented on #76
It seems that this issue might have to do with ruby 2.2.1. Everything works fine with ruby 2.2.0.

[code]

[2015-04-27 05:27] x-ji opened #77 "Getting "rbenv: version 2.2.1 is not installed" error although ruby -v returns 2.2.2"
When I first installed `enh-ruby-mode` I was using `2.2.1` with `rbenv` and it worked fine. However after I upgraded to `2.2.2` and uninstalled `2.2.1`, it seems to not recognize the correct Ruby interpreter now. I've set rbenv global, rbenv local to 2.2.2 and exported the environment variable RBENV_VERSION as 2.2.2 in both .zshrc and .bashrc. However "rbenv: version `2.2.1` is not installed". May

[2015-04-27 05:44] x-ji commented on #77
Now I manually set `enh-ruby-program "/usr/local/var/rbenv/versions/2.2.2/bin/ruby"`, however the following error is returned:

[code]

[2015-04-27 05:56] zenspider commented on #77
Did you make sure to run `erm-reset` after changing the path?

[2015-04-27 05:58] x-ji commented on #77
Umm... Running that seems to give me the same errors.

[2015-04-27 07:35] x-ji commented on #77
Not sure what happened. For now I'm reinstalling `2.2.1` in `rbenv` to make Enhanced Ruby Mode function correctly. Hopefully it will impact my projects using `2.2.2`

[2015-05-07 11:22] art-solopov opened #78 "A "stand-alone" hash not being indented correctly"
![enh-ruby-indent-error](https://cloud.githubusercontent.com/assets/5079987/7514203/177d111a-f4c4-11e4-9503-29a4448b3e28.png)
Please note that if I:
- Remove the `a, b = do_something` line
- Write an assignment statement (i.e., `h = {...}`)
  The issue disappears, the indentation applied correctly.
  I've encountered this error first in my Rspec `let` statement, if anyone wonders how realistic my

[2015-05-17 09:47] stardiviner commented on #67
-1

[2015-05-27 04:05] zw963 opened #79 "(up-list -1) and (forward-sexp) not worked for enh-ruby-mode"
Here is a function I stolen from yasnippets, It function is change { ... } to do ... end.
In this function, we use (up-list -1) and (forward-sexp) function, But those not
worked in enh-ruby-mode (it worked very good at ruby-mode)

So I change to above to (enh-ruby-up-sexp 1) and (enh-ruby-forward-sexp) respectively,
it can worked, but not work fine with this function,  into deep loop and skip to
b

[2015-05-27 04:44] AnuragRamdasan commented on #76
Has there been any update on this? My emacs still acts weird working with 2.2.1

[2015-05-27 12:07] sockmonk commented on #67
I don't like hunting above a method in the file for `private` either, so I've always used `private :foo` or `private_class_method :foo`. Maybe that would work as a compromise? (without having to change enh-ruby)

[2015-05-28 09:42] Eilie opened #80 "Incorrect multi-line Hash indentation"
Currently indentation works like this:
[code]
But should work like this:
[code]

This also applies to arrays. Original `ruby-mode` works as expected.

[2015-05-28 10:20] stoodfarback commented on #80
Yep, there's an option for that, `enh-ruby-deep-indent-paren`. If you don't know how to edit options for emacs, adding this to the end of your .emacs should work in most cases:

    (setq enh-ruby-deep-indent-paren nil)

[2015-05-28 13:51] Eilie commented on #80
@stoodfarback It works, thank you!

[2015-05-28 13:51] #80 closed

[2015-05-29 18:05] Eilie opened #81 ""def" doesn't trigger automatic "end""
Either `class` `SPC` or `module` `SPC` will add closing `end` automatically but for some reason it doesn't work with `def` `SPC`.

[2015-05-29 20:58] zenspider commented on #81
Are you sure that's enhanced-ruby-mode? I see that it has `enh-ruby-electric-brace`.

[2015-05-29 21:48] Eilie commented on #81
@zenspider Not 100% sure, do you think EnhRuby doesn't responsible for this?

[2015-05-29 22:09] Eilie opened #82 "Paren-less multi-line method call indentation is wrong"
Currenlty:
[code]
Should be:
[code]

[2015-05-29 22:12] Eilie opened #83 "Multi-line method chain (leading-dots) indentation"
This should have been fixed in https://github.com/zenspider/enhanced-ruby-mode/pull/47 but it doesn't work now:

[code]

[2015-05-30 00:11] zenspider commented on #81
I have no idea. I don't use such functionality. Since you say `SPC` is the trigger, Do `C-h k SPC` while in a ruby file and see what function is bound to the key.

[2015-05-30 00:15] zenspider commented on #83
"it doesn't work" isn't descriptive. Please file a proper issue stating what you did, how to reproduce it, what you expected, and what actually happened.

[2015-05-30 10:41] Eilie commented on #83
@zenspider I did `foo` `RET` `.bar`, `.bar` should be indented, see https://github.com/zenspider/enhanced-ruby-mode/issues/46. Exact same issue.

[2015-05-30 10:45] Eilie commented on #81
@zenspider It says `SPC` is bound to `self-insert-command`.

[2015-05-30 12:36] zenspider commented on #81
That just means it only adds a space. I can't help if I can't reproduce. You're going to have to figure out what mode or feature is doing this on your system if I'm going to be able to assist.

[2015-06-02 17:54] Eilie commented on #81
@zenspider Figured that out, smartparens is responsible for this feature, and it was broken by evil-escape.

[2015-06-02 17:54] #81 closed

[2015-06-04 21:03] zenspider commented on #79
Sorry. But I'm not understanding your report. If possible, please provide some ruby source + position + actions (preferably elisp) to reproduce your issue. Describe what you expected to happen vs what actually happens.

[2015-06-04 21:26] zenspider commented on #83
I just added tests to show that it indents the way I expect. Please take a look at my last couple of commits to test and see if you agree. If not, a PR with a failing test would be appreciated (but not necessary).

[2015-06-04 21:42] zenspider commented on #59
Fixed. Thanks!

[2015-06-04 21:42] #59 closed

[2015-06-05 01:20] zenspider commented on #77
I don't seem to have any problems when hardcoding my `enh-ruby-program` to `2.2.2`. Closing.

[2015-06-05 01:20] #77 closed

[2015-06-05 01:23] zenspider commented on #76
Hardcoding my own setup to ruby 2.2.2 seems to work fine:

[code]

Please remove rbenv from the equation and try again. Otherwise, I still don't have a repro that I can work from.

[2015-06-05 01:25] zenspider commented on #78
Please don't submit _graphics_ in the stead of actual source. I can't do anything with graphics.

[2015-06-05 01:27] zenspider commented on #78
The hash, standalone, works fine:

[code]

If you make it look like a block, it seems to misindent:

[code]

but since that isn't valid ruby, I'm not sure I care about that scenario.

Oddly, the original scenario has the same problem (and I suspect they're related):

[code]

[2015-06-05 01:28] zenspider commented on #78
(Ugly) Workaround: put a semicolon after `do_something`.

[2015-06-05 08:11] art-solopov commented on #78
It looks like the mode doesn't account for line feeds when distinguishing between hashes and blocks.

[2015-06-05 11:40] zw963 commented on #79
Sorry, Here a example, I hope can help.

[code]

When use with enh-ruby-mode, if eval ``(while (progn (enh-ruby-up-sexp 1) (not (eq (char-after) ?{))))``, will into a endless loop.

 original code is  ``(while (progn (up-list -1) (not (eq (char-after) ?{))))``,  it worked fine at ruby-mode, but not worked as expection in enh-ruby-mode.

My question is:  I hope it shouldn't into endless loop at any

[2015-06-08 22:02] zenspider commented on #83
anything?

[2015-06-14 10:36] Eilie commented on #83
@zenspider Tests looks correct, but in practice for some reason it doesn't indent leading dots(see first message example). Not sure why.

[2015-06-16 02:38] zenspider commented on #83
I've verified that the tests pass fine in batch mode and fail when all my stuff is loaded, so this is an external bug of some sort, but I haven't figured out how to isolate it yet.

[2015-07-10 06:55] shreyasns opened #84 "enh-ruby-end-of-defun moving to end of file"
After updating my package enh-ruby-end-of-defun is moving to end of file instead of the end of function.

[2015-07-11 08:02] zenspider commented on #84
Can you please provide input and steps to reproduce?

[2015-07-11 09:09] shreyasns commented on #84
class test
  def abc
    ##lorem ipsum
    ##asdad
  end

  def ddef
    #asda
    #fssf
  end
end

when I hit C-M-e it takes me to end of class instead of end of function that I'm currently in. And I also noticed that it works correctly when I open the file with -q.

[2015-07-11 22:33] #84 closed

[2015-07-24 09:33] zw963 opened #85 "Streaming API indent not correctly."
[code]

[code]

[2015-07-25 21:55] zenspider commented on #85
This looks like a dupe of #83.

[2015-07-25 21:55] #85 closed

[2015-07-29 12:01] wasamasa opened #86 "No fontification when used on a narrowed buffer"
I have some ruby code in a notes file with `org-mode` on, so I've narrowed to a region and enabled `enh-ruby-mode`. This did result in no fontification at all. Any idea what's going wrong here?

[2015-07-30 12:56] Kukunin opened #87 "Continuation indent"
Hello. Sorry in advance, I'm new to the emacs and elisp.

I'm faced with some indentation problem, primarily in my rspec files. For instance, I have a line:

[code]

and when I try to push `type` key to new line, it indents wrong for me. Actually, it indents as:

[code]

while I want:

[code]

Even if I have multiline hash argument, `enh-ruby-mode` indents it as:

[code]

while I want:

[code]

[2015-07-30 13:00] mijoharas commented on #76
I have the same problem when using ruby `2.2.1` switching to `2.2.0` worked for me.

[2015-07-30 13:05] Kukunin commented on #83
my two cents:

I've tried, I have the similar behaviour. When you type `one.two.three` `RET` `.four`, it have:

[code]

But after `indent-region` command, it becomes valid:

[code]

My suggestion, is that after `RET` you can't say for sure, do you want to start new command or continue the previous chain.

So, indentation should be after first `.` symbol.

[2015-07-31 02:35] stoodfarback commented on #87
Yep, there's an option for that, `enh-ruby-deep-indent-paren`. If you don't know how to edit options for emacs, adding this to the end of your .emacs should work in most cases:

    (setq enh-ruby-deep-indent-paren nil)

[2015-07-31 08:10] Kukunin commented on #87
it works like a charm. Thanks!

[2015-07-31 08:10] #87 closed

[2015-08-07 07:51] zenspider commented on #86
This is just a guess... but it relies on sending the code out to a ruby server to parse it and it probably sends the whole thing and gets confused.

[2015-08-07 07:53] zenspider commented on #86
When I try this with a bash script w/ embedded ruby I get this in `*Messages*`:

[code]

Not sure what `jit-lock` is.

[2015-08-07 07:54] zenspider commented on #86
[code]

So... maybe not my fault? Should try with a different language too.

[2015-08-07 07:54] zenspider commented on #86
Nope... doesn't seem to work with any language in an indirect buffer.

[2015-08-25 22:20] chrismcg commented on #79
I was having a problem with `ruby-toggle-block` that I *think* is related until I set `enh-ruby-use-ruby-mode-show-parens-config t` so try that out and see if it helps.

[2015-10-02 06:24] stardiviner opened #88 "wrong indent after `protected :x=`"
here is the test code:

[code]

As you can see. the indent is wrong after `protected :x=`.

[2015-11-24 06:19] alexgirdler opened #90 "Deep indent parent only for paren-wrapped statements"
I'm not sure if this is a configuration error on my part or if `enh-ruby-mode-deep-indent-paren` doesn't do what I expected it to do.

This is how I want the code to look:

[code]

If I enable `enh-ruby-mode-deep-indent-paren` this is what I get:

[code]

If I disable that then I get this:

[code]

Is there something I am doing wrong? Or is there a way to get my desired indentation from this?

[2015-11-24 06:20] alexgirdler commented on #90
This also goes for any literal syntax. Is there a way to make literal syntax not use the deep-indent-paren setting?

[2015-11-24 11:34] zenspider commented on #90
This is what I see with my normal settings (which iirc are pretty much the defaults--yup, just double-checked):

[code]

I plopped that into a file, selected everything, and forced a reindent with plain `indent-region`.

Can you look through your customize list (or .emacs.el if you setq things) and show me your settings wrt enh-ruby-mode?

Looking at the settings, `enh-ruby-deep-paren` is `t` by d

[2015-11-24 11:37] zenspider commented on #90
Just checked with `emacs -q`. In ruby-mode:

[code]

and in enh-ruby-mode:

[code]

So, I think this is working correctly out of the box and there is some other variable messing with things. I'd like to figure this out. We might have to bisect your emacs.el or something.

[2015-11-24 18:13] alexgirdler commented on #90
My bad I messed up the formatting of the example of what I get when I enable `enh-ruby-deep-indent-paren` I get what you posted for enh-ruby-mode. However I want it to appear like it does in normal ruby mode. I also don't have any settings enabled.

[2015-11-24 19:35] zenspider commented on #90
so you want a hybrid between the first and the second depending on method call vs literal...

[2015-11-24 19:42] alexgirdler commented on #90
Yes, it's what ruby-mode does by default

[2015-12-02 16:49] gabriel-dehan commented on #72
Hello, there. Still having the issue :

[code]

Around this code :

[code]

Seems to be the same problem, any idea why ?

[2015-12-02 17:14] wasamasa commented on #72
@gabriel-dehan Your version of `enh-ruby-mode` seems to be too old to contain the above patch.  Please update and try again.

[2015-12-03 00:33] zenspider commented on #72
@gabriel-dehan that code works for me under ruby 2.2.2:

[code]

seems to reparse fine

[2015-12-04 10:08] gabriel-dehan commented on #72
@wasmasa :+1: , thank you

[2015-12-30 18:27] dgutov commented on #90
Depending, rather, on whether the opening paren/brace/bracket is followed by an element, or the newline comes first. That's what ruby-mode does, at least.

[2016-01-02 19:41] dsnipe opened #92 "`private` with 0 level indentation"
Hello.
Is it possible to make somehow indentation for `private` keyword with 0 level (same as `class` or `module`)?
Example:
[code]

[2016-01-02 19:51] dsnipe commented on #92
oops, duplicate of https://github.com/zenspider/enhanced-ruby-mode/issues/58

[2016-01-02 19:51] #92 closed

[2016-01-13 08:05] stardiviner opened #93 "smie warning"
[code]

Here is the warning when loading enh-ruby-mode.

But when I test with `emacs -q`. No warning raise up.
I don't know what's this.

[2016-01-13 17:53] jimmityglick commented on #76
I had this problem using 2.2.2, setting enh-ruby-program to 2.2.0 worked for me.
$ ruby -v
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]
$ ruby -rripper -e 'p Ripper::Version'
"0.1.0"

i'm using rvm on linux.

[2016-01-19 10:53] stardiviner commented on #93
Have not seen it after upgrade packages.

[2016-01-19 10:53] #93 closed

[2016-02-16 21:09] sgnr opened #94 "Frozen String Literal Magic Comment Causes "error in process filter: erm-parse: Beginning of buffer""
Hi,

I hit an issue where I get a "error in process filter: erm-parse: Beginning of buffer" anytime I type in a buffer where there is the magic comment `# frozen_string_literal: true`.

Steps to reproduce:
* `emacs -q`.
* Load `enh-ruby-mode`.
* Type `# frozen_string_literal: true`.
* Type anything else in the buffer.

[code]
I'm using the ELPA version of `enh-ruby-mode` from Nov. 23rd, 2015.

Tha

[2016-02-23 04:54] stardiviner opened #95 "add face for string interpolate in string"
I think add a face for string interpolate in string will help programmer to looks easily on string.
What do you think?

[2016-03-13 23:18] bilus commented on #94
Same here. It's a big issue because it makes editing very painful and slow.

[2016-03-16 03:03] zenspider commented on #95
Not sure I understand. Here is a contrived example of what it currently does:

![screen shot 2016-03-15 at 20 02 28](https://cloud.githubusercontent.com/assets/9832/13800703/e115c1f0-eae8-11e5-8507-fc5b52166aa8.png)

[2016-03-16 03:07] zenspider commented on #94
Trying to repro and currently failing. I'll upgrade from 2.3.0 preview to final and see if that is it.

[2016-03-16 10:26] stardiviner commented on #95
Sorry, It did, my example does not highlight might because they are not highlighted originally in `enh-ruby-mode`.

[2016-03-16 10:26] #95 closed

[2016-03-24 22:27] bilus commented on #83
`indent-region` doesn't work correctly for this:

[code]

[2016-04-27 06:49] senny commented on #94
@zenspider any idea how I could work around this issue? I'm on a project where the `# frozen_string_literal: true` comment is in most files. I'm forced to fall back to `ruby-mode` as editing is nearly impossible otherwise. Thanks for your efforts.

[2016-04-27 20:43] zenspider commented on #94
@senny I can't offer a workaround until someone offers me reproduction steps. Sorry.

[2016-04-29 10:24] senny commented on #94
@zenspider how can I help you to get that reproduction?

Currently I'm seeing the error constantly when editing files with the `# frozen_string_literal: true` comment.

My Environment:
- `rbenv`
- `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]`
- `enh-ruby-mode-20151123.141`

[2016-05-09 20:26] dgutov opened #96 "Breaks ruby-add-log-current-method"
Take this example, move point to `bar`:

[code]

`(ruby-add-log-current-method)` should return `"Test#foo"`. It returns `"Test"` instead.

I'd be happy if `(enh-ruby-add-log-current-method)` returned the expected value, but that doesn't happen either.

Originally reported as https://github.com/dgutov/robe/issues/47#issuecomment-217531509.

[2016-05-12 12:04] yxhuvud opened #97 "Support for new syntax for hash keys like "foo":"
Nowadays ruby supports symbolic hash keys like "foo-bar":. This break the parsing of the ruby files for me.

Example:

[code]

Also, it would be nice to have a documented way to forcibly restart a broken parser instance. erm-reset does not help in this case.

[2016-05-17 00:54] zenspider commented on #94
My steps:

1. Created a file with your file content.
2. `C-x customize-variable RET enh-ruby-program RET` and set to `"/Users/ryan/.rbenv/versions/2.3.1/bin/ruby"`
3. Went back to original buffer
4. `C-x erm-reset`
5. typed extra code into buffer

No errors anywhere.

[2016-05-17 06:14] marktran commented on #94
I just discovered this error today too.

Any file with `# frozen_string_literal: true` causes the error. Using `2.3.1`.

[2016-05-17 10:32] zenspider commented on #94
That's clearly not the case, as I've shown,.. If you can actually help me reproduce this, great... But a "me too" does nothing to help.

From: Mark Tran <notifications@github.com>(mailto:notifications@github.com)
Reply: zenspider/enhanced-ruby-mode <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: May 16, 2016 at 23:14:18
To: zenspider/enhanced-ruby-mode <enhanced-ruby-mode@noreply.git

[2016-05-17 11:55] marktran commented on #94
Here are the precise steps to reproduce:

1. `rbenv global 2.3.1`
2. `emacs -q`
3. M-x `load-file`
4. `/Users/mark/src/mark/emacs.d/elpa/enh-ruby-mode-20151123.141/enh-ruby-mode.el`
5. M-x `find-file`
6. `~/foo.rb`
7. M-x `enh-ruby-mode`
8. Type out `# frozen_string_literal: true`
9. [Return], [Return], [Return]
10. You'll see `error in process filter: Beginning of buffer` in your minbuffer.

Also

[2016-05-17 11:57] marktran commented on #94
Input just freezes after I enter `# frozen_string_literal: true` if my global Ruby version is not 2.3.1 and I later `customize-variable enh-ruby-program` to 2.3.1.

[2016-05-17 22:06] zenspider commented on #94
@marktran your repro steps don't work for me.

If you run with `emacs -q`, `enh-ruby-mode.el` defaults to `"ruby"` for its parser, can you ensure that that is what is being seen by your emacs? Something like `M-! ruby -v` should(?) suffice.

[2016-05-18 03:31] marktran commented on #94
Yup, mine defaults to `"ruby"` and uses 2.3.1 set through `rbenv global 2.3.1`. `/Users/mark/.rbenv/shims` is at the head of my `$PATH`.

This is the output of `M-! ruby -v`: `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]`

[2016-05-18 06:35] zenspider commented on #94
Are you running gui emacs or terminal. gui emacs on osx doesn't inherit your $PATH. That's what I'm worried about. Otherwise, I'm at a loss because it works fine for me even with your steps.

[2016-05-18 06:35] zenspider commented on #94
Anything else about your environment might be different? Encodings? I dunno. I'm at a loss.

[2016-05-18 07:00] senny commented on #94
@zenspider I can only vaguely remember but I think I did not get these errors from the get go. I must have changed something else on my config that's triggering the issue. We since moved away from having the comment in every file but if I try to experiment a bit and see if I can find a trigger.

[2016-05-18 10:16] marktran commented on #94
@zenspider I'm running terminal emacs, installed through Homebrew with `brew install emacs`. I can't think of anything else that would be different.

@senny Can you confirm if you can reproduce with the steps I posted above? I think this should be reproducible with a vanilla `emacs -q`...

[2016-05-18 11:16] marktran commented on #94
@zenspider What do your `$PATH`, `ruby -v`, and `which ruby` look like? Can't think of any other reason you wouldn't be able to repro other than Ruby version.

[2016-05-18 20:01] zenspider commented on #94
I think I'm going to extend the server process to log all communication so we can see what is being given said and how they might differ between us.

[2016-05-25 14:32] packrat386 commented on #94
For what it's worth, if I switch to ruby 2.2 it works fine. In case anyone was looking for a quick fix.

[2016-06-15 10:28] zw963 commented on #79
Sorry for this confused issue.

Previous code snippets which used for toggle-block is not used anymore.
Current, I use `ruby-toggle-block` which included by newest `ruby-mode`.
so, this problem is not existed.

thanks all.

[2016-06-15 10:28] #79 closed

[2016-06-15 10:29] zw963 commented on #79
I am not setting this variable, still not see any problem for now.
I will report here if any issue happen.

[2016-06-15 10:33] zw963 commented on #79
In fact, I am not use this enh-ruby-mode longer enough for now.
I think it time to keep use this, and create another issue if found.

thanks

[2016-06-16 15:03] zw963 opened #99 "Render failed when (setq vc-follow-symlinks t) and then open a symlinked rb file."
### 1. start emacs with only following config;

[code]
### open ~/.irbrc. this file is a symlinked file which link to other place.
### get error:

[code]

Thanks.

[2016-06-21 14:44] zw963 commented on #99
Hi, @zenspider ,  Does I describe not clear enough?

I just want to know if I explain what i want. and the issue is could reproduce ?

thanks

[2016-07-21 20:27] sockmonk commented on #94
@zenspider I started seeing this problem when I upgraded to ruby-2.3.1 and the latest rubocop, which had me add the `# frozen_string_literal: true` to all my files. Using gui Emacs on OSX, M-! ruby -v confirms it's seeing ruby-2.0.0.  I'm using the chruby package like so:
(require 'chruby)
(chruby "ruby-2.3.1")

For now, I'm going to work around this by taking out that header line and disabling th

[2016-08-10 03:12] Trevoke opened #100 "Please create a release for melpa stable"
All you need to do is tag the commits you consider to be stable as you go and push them to Github and Melpa will take care of the rest.

Thanks!

[2016-08-10 04:09] zenspider commented on #100
Is this just a copy/paste spam? Haven't I been doing this for 2 years now?

[2016-08-10 12:04] Trevoke commented on #100
I apologize if my request came over as anything but a request. Would you please help me figure out how I could have worded the request better so it would have come across that way?

I believe there is value for the community in so-called stable releases for the packages, beyond the question of reproach on the maintainer's ability to maintain.

[2016-08-10 13:15] msuess commented on #94
I also have this problem. Running on OSX, spacemacs (evil), Emacs 24.5. However, behaviour does not change based on what `M-! ruby -v` sees. It DOES change however if I set my local ruby version to 2.2.1.

[2016-08-10 20:40] zenspider commented on #100
It does come across as a request (but so does nigerian spam 😛)... It wasn't a matter of wording, so much as I was confused as to WHY you were sending it to me the request as I already tag this project specifically for melpa.

[2016-08-11 13:13] Trevoke commented on #100
enh-ruby-mode does not show up on Melpa stable, so if you have been adding tags, I believe the culprit may be a missing `version-regexp` in melpa's package definition (and/or unparseable tags):

[2016-08-16 23:45] hosh commented on #94
I also have this problem. I am using the emacs-nox package from Ubuntu 16 (24.5.1) running terminal emacs. I did not have this issue until I started using 2.3.1.

I also suspect this has something to do with Ruby 2.3 vs 2.2. Ruby 2.2 should be ignoring that magic comment. I wonder if Ruby 2.3 treats that magic comment differently in a way that breaks things.

[2016-08-16 23:58] hosh commented on #94
@zenspider do you want to try a video chat / hangout / etc. sometime to reproduce this? If you are interested, ping me at talktohosh at gmail.com and let's set up a time convenient for both of us.

Alternatively: I can prep a VirtualBox image that reproduces this and ship it over to you.

Using Ruby 2.2 is good enough for now, but I do want to be able to use EnhRuby going forward with 2.3.

[2016-08-17 00:26] hosh commented on #94
I tried testing this with the test suite on the master branch of this repo (emacs-nox, 24.5.1, Ruby 2.3.1). The test command I used is:

[code]

Without modifications:

[code]

When I added
[code]

at the top of the `rubytest.rb` file, I get these results:

[code]

Just to be complete, I tried a different comment at the top of the file,

[code]

[code]

And when I switch to Ruby 2.2.5 using rbenv

[2016-08-17 00:47] hosh commented on #94
Ok, so part of the problem is this: https://github.com/zenspider/enhanced-ruby-mode/blob/master/ruby/erm_buffer.rb#L640-L641

If there is anything that goes wrong on the ruby side, then the error is silently dropped. I did also see some instances where immutable strings might be modified, such as https://github.com/zenspider/enhanced-ruby-mode/blob/master/ruby/erm_buffer.rb#L167 ... but I'm going

[2016-08-17 18:34] CyborgMaster opened #101 "Support Ruby 2.3's &. Safe Navigation Operator"
I looks like enh-ruby-mode doesn't correctly parse the `&.` from safe ruby mode.

From the 2.3 release notes

The following happens when I try to use it in an enh buffer.

![image](https://cloud.githubusercontent.com/assets/1882579/17748496/fafd337a-6476-11e6-9831-5d52b9687f70.png)

[2016-08-17 21:19] zenspider commented on #101
Run `C-h v enh-ruby-program RET` and see what ruby you're using. This is mine:

[code]

[2016-08-17 21:47] CyborgMaster commented on #101
Thank you for pointing me in the right direction.  Mine looks like this:

[code]

I use RVM and had upgraded the ruby version for my project, but not the default system ruby version.  Once I changed the default, everything parsed as expected.

Thank you!  And thanks for maintaining an awesome package, I use it all day every day and couldn't live without it.

[2016-08-17 21:47] #101 closed

[2016-08-18 00:05] zenspider commented on #100
I just added melpa/melpa#4160

Please let me know if that is not sufficient. I'm not sure how to test for melpa stable.

[2016-08-18 00:21] zenspider commented on #94
I believe that I finally isolated this and fixed it in c4e8803

Please test against master and let me know if you have further issues.

[2016-08-18 00:26] zenspider commented on #76
Given that ruby 2.2.1 seems to be the isolated variable and 2.2.5 (as well as 2.3.1) is out... I'm going to assume this has a sufficient workaround ("don't use 2.2.1") and close this.

Please reopen if you think it isn't done yet.

[2016-08-18 00:26] #76 closed

[2016-08-18 00:27] zenspider commented on #94
@hosh I'm not sure I agree with your analysis... but I'd love to see what bubbles up from removing that rescue.

_Afterwards_, please test current master and let me know if the issue is resolved for you.

[2016-08-18 00:32] zenspider commented on #30
I assume this is dead. Closing. Please reopen if you're _actively_ working on it.

[2016-08-18 00:32] #30 closed

[2016-08-18 01:38] Trevoke commented on #100
I think that should be sufficient, but frankly, I don't *know* either. I think we wait for Steve to act as benevolent dictator, tell us how to  fix it if we did it wrong, and merge it in. On my package I use "0.5.0" as a tag and it works ( https://stable.melpa.org/#/sqlup-mode )

[2016-08-18 16:49] CyborgMaster commented on #94
The only productive thing I might be able to add to this discussion is that it seems that swapping my ruby version from 2.3.1 to 2.3.0 seems to fix things for me.

[2016-08-18 18:00] zenspider commented on #94
Huh... I was testing with 2.3.1. Can you try to get me a repro with your issue?

[2016-08-18 18:04] CyborgMaster commented on #94
@zenspider, if you are referring to you master fix from c4e8803, I wasn't testing that.  I've installed enh-ruby-mode using the emacs package manager (`package-list-packages`) and I'm not sure how to get it to install off of master, so I'm just using the latest version on melpa, which is 20160817.1711.  On that version, 2.3.1 gives me the error, but 2.3.0 does not.

Sorry if I caused additional co

[2016-08-18 18:11] zenspider commented on #94
Yes, I'd like a repro with 2.3.1 if you can provide one.

[2016-08-18 19:39] zenspider commented on #94
@CyborgMaster to help:

`M-x customize-variable RET debug-ignored-errors RET`

Then remove `beginning-of-buffer` and click `State` and then `Save for Current Session`

Then `M-x toggle-debug-on-error RET`

Now a repro will get you a backtrace that you can either poke at or paste here.

[2016-08-20 20:32] zenspider commented on #100
I've fixed my tags to match the expected format. I suspect that's all that really needs to be done.

[2016-08-20 20:34] zenspider commented on #94
Anyone?

[2016-08-21 02:25] Trevoke commented on #100
It's fixed, it shows up. I'm sorry what I requested was so unclear. Thank you so much for being responsive and for maintaining this package for the community.

[2016-08-21 02:25] #100 closed

[2016-08-21 10:19] marktran commented on #94
@zenspider Yep, it's fixed on `master` for me.

[2016-08-21 18:37] zenspider commented on #94
Good enough for me. Closing. Please file a new issue if you encounter something like this.

[2016-08-21 18:37] #94 closed

[2016-08-23 23:26] hosh commented on #94
Same here.

[2016-08-23 23:51] zenspider commented on #94
Fantastic. Thank you.

[2016-08-25 16:21] iachettifederico commented on #83
I have the same problem here. I'm using emacs 25 on a Linux Mint machine and rvm.

Is there anything I can do to help diagnose the problem?

[2016-09-15 23:33] zenspider commented on #86
@wasamasa any feedback? I think this is more of a problem with emacs.

[2016-09-16 06:41] wasamasa commented on #86
I think this is more of a problem with `enh-ruby-mode` as I cannot reproduce this with a shell script embedding Scheme code.

    cat << END > ~/.csirc
    (load-verbose #f)
    (unless (get-environment-variable "INSIDE_EMACS")
      (use (prefix readline "rl-"))
      (current-input-port (rl-make-readline-port))
      (rl-install-history-file
       #f (format "/.csi_history" (get-environment-var

[2016-11-15 00:44] zenspider commented on #96
Can you point me at some doco or something for this? Esp a contract of some sort.

What calls this function and why? I wouldn't expect a `ruby-*` function to work in ERM.

[2016-11-15 00:50] zenspider commented on #88
Sorry for the delay...

I can't reproduce this... so either I don't have the same settings as you do or it's been fixed.

Can you re-try your sample above?

[2016-11-15 00:51] dgutov commented on #96
`add-log-current-defun` does. `robe-context` does too.

What about `enh-ruby-add-log-current-method`, then?

[2016-11-15 00:52] dgutov commented on #96
`ruby-add-log-current-method` has a docstring with examples.

[2016-11-15 00:54] zenspider commented on #73
There's `enh-ruby-add-encoding-comment-on-save`. Is that sufficient?

[2016-11-15 00:55] zenspider commented on #67
What's the status of this?

[2016-11-15 00:57] zenspider commented on #58
What's the status of this?

[2016-11-15 02:28] stardiviner commented on #88
I figured it out, it is caused by option:
[code]

[2016-11-15 07:15] ayqazi commented on #67
I'm afraid I don't use Ruby that heavily any more, and am no longer coding in Rails, so I'm afraid I won't be able to invest time doing this.

[2016-11-15 19:16] exterm commented on #73
I can't try it out as I am not using emacs for ruby anymore, but it sounds like it is doing the right thing.

[2016-11-16 00:35] zenspider commented on #73
@esiegel ... I assume this is working fine for you, yes?

[2016-11-16 00:37] zenspider commented on #67
fair enough. I'll try to get a failing test written at some point but I'll leave this open if someone wants to take a whack at it. It isn't a priority for me, personally.

[2016-11-16 02:39] esiegel commented on #73
Yep, still working for me.

[2016-11-17 17:47] scottjacobsen commented on #58
Personally I'm off the project that used that weird indenting style and
don't anticipate ever needing it again. I never really got my hack for
this production ready.

[2016-11-17 22:09] zenspider commented on #58
kk. Since nobody else is asking for it, I'm gonna close. We can reopen later if it comes up again. Thanks

[2016-11-17 22:09] #58 closed

[2016-11-28 15:36] saidie opened #102 "Parent mode is not prog-mode but enh-ruby-parent-mode"
I noticed that the parent mode of `enh-ruby-mode` is neither `prog-mode` nor `fundamental-mode` as specified [here](https://github.com/zenspider/enhanced-ruby-mode/blob/c4e8803ffbc14d1a5cd6f7caafae49d36e14ae6f/enh-ruby-mode.el#L234-L238). It seems to be `enh-ruby-parent-mode`:

[code]

I encountered a real world problem that a default function of `company-mode`, in which is `company-dabbrev-code`,

[2016-11-29 01:59] zenspider commented on #102
That's an interesting bug. It _Looks Like_ this is done correctly to me.

[code]

But on the other hand:

[code]

Maybe @purcell can chime in?

[2016-11-29 02:02] zenspider commented on #102
That said, I'm also pretty happy to revert that change, seeing as emacs < 24 is > 5 years old at this point.

[2016-12-08 03:13] purcell commented on #102
@saidie Is that in a specific Emacs version?

In any case, it'd also be fine to declare a package dependency on `(emacs "24")` and just derive from `prog-mode`.

[2016-12-11 15:47] saidie commented on #102
Hi, I tested in several environments with `--no-init-file`:

[code]

In all my tests, `derived-mode-p` returns `enh-ruby-parent-mode`.

If it is ok, I'm happy :D

[2016-12-11 22:38] zenspider commented on #102
Now I'm confused. Now you are suggesting that it is working fine?

[2016-12-11 23:45] saidie commented on #102
Sorry for confusing you. My test code is not clear for describing the problem I'm facing. Here is a more good example:

[code]

I'm expecting the latter code returns `prog-mode` but it returns `nil` in all of above environments.

[2017-01-03 10:40] zw963 commented on #85
I switch back to enh-ruby-mode ... : )

@zenspider , this still not work for me for now. (2017)

When exist follow content
[code]
if I run `(indent-region (point-min) (point-max))`

No anythings happen for this file.

still
[code]

[2017-01-03 23:14] zenspider commented on #85
Welcome back. Can you pile on in #83 ? This ticket is a dupe (I think)

[2017-01-04 07:30] zw963 commented on #85
OK, I will describe in that issue.

Thanks.

[2017-01-04 07:36] zw963 commented on #83
@zenspider , I have tried to only require enh-ruby-mode, no others.

It worked, But with my own config, it is not.

so, I think some others package is conflict with this.

I will try to find out it now.

Thanks

[2017-01-04 08:11] zw963 commented on #83
Sorry for previous reply.

It not worked, even enh-ruby-mode is the only one package.
(previous reply opened by ruby-mode, not enh-ruby-mode)

Following is the step to reproduce:

1.  create `foo.rb` with:
[code]
2.  create ~/.emacs, with only following config:
[code]

3.  emacs foo.rb

4. M-x eval-expression with `(indent-region (point-min) (point-max))`

5. file keep not changed.

emacs version:

[2017-01-08 02:41] zenspider commented on #83
So I've confirmed that I have a new test failure on emacs 25 that I didn't have under 24.x. Not sure how to fix it yet...

[2017-01-09 07:51] zw963 commented on #83
@zenspider , I have update to emacs 25.1 now, It can be reproduce too.

Hope could be fix soon. thanks.

I guess this bug is relative to this? #102 ?

[2017-01-11 06:29] zw963 commented on #83
@zenspider , Is there a workaround to skip only multi-line method chain indentation ??

When I run `(indent-region (point-min) (point-max))`, always get wrong position.

Thanks.

[2017-02-03 08:12] zw963 commented on #85
Hi, @zenspider , I found the real reason cause those indent failed ...

The ruby version ...

I use ruby 2.2.2 parser, it is not indent correct, but when I switch to 2.1.6, it worked!

Do you have plan to fix this?

Following link is the download url for traveling-ruby which create by [this project](https://github.com/phusion/traveling-ruby)

You can just download it to reproduce. Thanks.
http://d

[2017-02-03 08:15] zw963 commented on #85
Please like my know if you don't have any plan to support ruby 2.2.2.

Thanks very much.

It that, I will spend time to switch to old traveling ruby version just for worked well
with enh-ruby-mode.

[2017-02-03 08:16] zw963 commented on #83
Hi, all !

I found the key reason to reproduce this issue.

just switch to old ruby 2.1.6, indent worked now!

[2017-02-06 04:18] ynilu opened #103 "Using quotes in symbol syntactic sugar for hashes will break syntax highlight"
![2017-02-06 12 07 58](https://cloud.githubusercontent.com/assets/14059513/22634484/325867ec-ec65-11e6-8797-1aaacd1c63ea.png)

[2017-02-13 09:50] zw963 commented on #99
More explain:

I have a file, it location is:  `/home/zw963/Dropbox/linux/utils/capistrano/tasks/assets.rake`
But, I have another symlink, which is: `/home/zw963/utils/capistrano/tasks/assets.rake`

If I open this file with `emacsclient -nc  /home/zw963/utils/capistrano/tasks/assets.rake`, I can see a emacs `*Messages*` log with:
`Followed link to /home/zw963/Dropbox/linux/utils/capistrano/tasks/a

[2017-02-13 09:53] zw963 commented on #99
More seriously is:

It caused all `*.rake` file could not be load correct even I access a this file from it original path.
I have to restart my emacs daemon to make it worked.

[2017-03-08 08:00] xiongtx commented on #102
There should be no problem getting rid of `enh-ruby-parent-mode` and deriving from `prog-mode` directly.

A number of packages out there rely on `derived-mode-p`; aliasing `prog-mode` breaks it, which should definitely be fixed.

[2017-03-14 09:10] yxhuvud commented on #103
Duplicate of #97, no? (I'm glad to see a fix!)

[2017-03-15 21:37] toothbrush opened #106 "MELPA version is quite old"
Maybe the MELPA version of `enh-ruby-mode` should be updated, it is currently from August '16.  I'd be happy to do that sometime, but i'm not sure about the process / haven't had the time to figure out how, yet.

EDIT: i see that that's the date of the last commit to this repo, so i should learn to read better.

[2017-04-18 04:46] #103 closed

[2017-04-18 05:35] zenspider commented on #102
This is done. Thanks!

[2017-04-18 05:35] #102 closed

[2017-04-18 05:37] zenspider commented on #106
That is just because nothing has been pushed since then. There was nothing to release.

I've recently merged a few PRs and pushed a couple commits of my own so it should bump automatically.

[2017-04-18 05:38] zenspider commented on #106
Please reopen if this isn't automatically handled my melpa soon.

[2017-04-18 05:38] #106 closed

[2017-04-18 06:58] zenspider commented on #96
I _think_ I just fixed this for most forms.

[2017-04-18 07:01] zenspider commented on #97
This is probably fixed. Please test and close if resolved.

[2017-04-18 07:02] zenspider commented on #90
I'm unassigning this. It works for the way I code. If someone wants to take a whack at a PR I'm happy to merge.

[2017-04-18 07:04] zenspider commented on #67
Nobody is touching this so I don't think it is a real priority. Closing to freshen up this project.

[2017-04-18 07:04] #67 closed

[2017-04-18 07:04] zenspider commented on #69
I think this is handled or beyond stale. Closing.

[2017-04-18 07:04] #69 closed

[2017-04-18 07:05] zenspider commented on #73
Closing.

[2017-04-18 07:05] #73 closed

[2017-04-18 10:13] dgutov commented on #96
The lack of support for `class << self` is unfortunate: we do use this form, for instance. Another problem is that it does not return fully qualified module names. Example:

[code]

`(enh-ruby-add-log-current-method)` returns `"C#foo"` instead of `"A::B::C#foo"`.

[2017-04-19 06:49] yxhuvud commented on #97
Yup, seems to work. Great!

[2017-04-19 06:49] #97 closed

[2017-04-19 06:57] zw963 commented on #83
@zenspider , happy to see you keep reply issue for this project.

do you see my previous comment?

This issue not happen on Ruby 2.1, but happen on 2.2.

[2017-04-19 10:26] #88 closed

[2017-04-19 10:27] zenspider commented on #96
Failing tests would be more actionable...

[2017-04-19 10:43] dgutov commented on #96
Isn't the above description unambiguous? I hope you realize I'm not using this major mode myself.

[2017-04-19 10:59] dgutov commented on #96
But check these out: https://github.com/emacs-mirror/emacs/blob/b6a57fb80c49bcd9163966d612671a5256f3a1a8/test/lisp/progmodes/ruby-mode-tests.el#L492-L559

[2017-04-23 07:01] jsmestad commented on #30
@zenspider I would love to contribute an enhancement for some of these. I am currently trying to port highlighting from nanotech/jellybeans.vim. In order to get a closer match I want to add font faces for:

* symbol_literal (Input `Ripper.sexp(':asymbol')` | Ripper output: `[:symbol_literal, [:symbol, [:@ident, "asymbol", [1, 1]]]]`)
* `self`, `true`, `false` (Input `Ripper.sexp('self')` | Ripper

[2017-06-14 10:32] zw963 commented on #83
hi, @zenspider , I run enh-ruby-mode included ``lexer.rb`` with following command seperately
[code]

[code]

[code]

following is 1.rb content:

[code]

The 2.1.3 result is:
[code]

And, ruby-2.2.4 same as ruby-2.3.3, content is:
[code]

Since ruby 2.2.0, ripper is updated, I think this is the reason cause ident
incorrect.

Thanks

[2017-06-14 18:25] rmolinari opened #108 "Highlight and indentation when method def starts with "private""
Sometimes a method is defined as private like this:
[code]

But enh-ruby is indenting oddly, like that. The method body is indented against the `def` while I expect it to indent it against `private` like this:
[code]
"Regular" ruby mode indents it like that.

Also, `private` does not get any syntax highlighting.

[2017-06-14 18:27] rmolinari commented on #108
![enh_ruby_indent](https://user-images.githubusercontent.com/7924302/27148247-9764792a-510d-11e7-906e-475adc06f2dd.jpg)

[2017-06-14 18:30] rmolinari commented on #108
I have Emacs v 25.2.1.

Here is my enh-ruby configuration in init.el
[code]

I use smartparens and smartparens-ruby.

[2017-06-14 19:54] rmolinari commented on #108
Oh. I see that this is the same issue as #67.

It looks like there is not a desire to change this behavior.

[2017-07-14 11:14] mrcasals opened #109 "Squiggly heredoc (<<~) is not properly highlighted"
Ruby syntax highlighting does not correctly highlight HEREDOC symbols. Ruby 2.3.0 introduced the [so-called *squiggly heredoc*](https://infinum.co/the-capsized-eight/multiline-strings-ruby-2-3-0-the-squiggly-heredoc):

[code]

The highlighter correctly detects the `<<-HEREDOC` variant, but fails to recognise the `<<~` one:

![](https://i.imgur.com/5aLBuYD.png)
![](https://i.imgur.com/yzYDWhc.png)

[2017-07-17 13:55] zw963 commented on #83
It seem like @zenspider guys disappear from earth for a long time.

When to return to earth, hope I can know. : )

[2017-07-21 16:29] darrenboyd commented on #83
I wonder if: `[1, 6], :on_period, "\n"]`

changing to: `[2, 2], :on_period, "."]`

Is related to this code?

https://github.com/zenspider/enhanced-ruby-mode/blob/master/ruby/erm_buffer.rb#L451-L455

[2017-07-22 09:33] zw963 commented on #83
@darrenboyd , Do you try to fix it? I will use your's fork.

[2017-07-24 14:49] darrenboyd commented on #83
Sorry, @zw963, I have no fix. I tried to figure out how any of this worked, but was unable to wrap my head around it :confused:

[2017-08-10 07:46] knu commented on #67
I've just come up with a PR: #110.

[2017-08-10 07:49] stardiviner commented on #67
Seems this feature request always keep a low requirement.

[2017-08-10 10:51] knu commented on #67
Actually, the original ruby-mode indents annotated def's _that_ way, so I guess those who prefer the style simply stick with ruby-mode.

[2017-08-15 09:19] zenspider commented on #67
This should be fixed by @knu's #110

[2017-08-15 09:20] zenspider commented on #108
This should be fixed by @knu's #110.

[2017-08-15 09:20] #108 closed

[2017-08-15 09:25] zenspider commented on #109
I can't reproduce this. I wind up with the exact same highlighting for all three of these:

[code]

[2017-08-15 09:26] zenspider commented on #109
If you can still reproduce this, can you show me what versions and relevant settings you have?

[2017-08-15 09:28] zenspider commented on #90
OK... I just added some tests that are very similar to this problem... can someone take a whack at writing tests for this problem?

[2017-08-15 10:41] knu commented on #108
The `private` keyword not getting highlighted is a separate issue.  I've filed #114 which addresses it.

[2017-08-15 11:04] zenspider commented on #83
I'm back... not sure I can fix this one... but I'm back :)

[2017-08-15 11:20] stardiviner commented on #67
Thanks @knu @zenspider

[2017-08-15 12:01] dgutov commented on #90
Lots of indentation examples here: http://git.savannah.gnu.org/cgit/emacs.git/tree/test/manual/indent/ruby.rb

[2017-08-15 13:48] zw963 commented on #83
@zenspider , welcome to earth! 😃

[2017-08-19 07:41] sadhu89 commented on #83
Welcome back @zenspider!
Does anybody know any workaround for this issue? Thanks!

[2017-08-22 23:48] zenspider commented on #83
This should be fixed.

[2017-08-22 23:48] #83 closed

[2017-08-23 00:46] zenspider opened #117 "New tests fail if a ruby file is even open"
WTF? @knu's new tests on `ruby-toggle-block/brace` all fail if a ruby file is even open.

Looks like the underlying problem is seen here:

[code]

and I suspect the other 2 are the same but covering it up. This has bit me before and I hate it.

[2017-08-23 09:10] zw963 commented on #83
It worked, fallback to use enh-ruby-mode again, Thanks!

[2017-09-20 02:41] knu opened #119 "Heredoc and metacharacters"
If you put an apostrophe, double quote, backquote or a hash in a heredoc, highlighting gets confused.

[code]

Does this reproduce for everyone or is it just me?

[2017-10-13 18:06] h8is2w8 opened #120 "Array Literals `%w and %i` are not highlighted."
Hello!

I want my Emacs to highlight arrays as well as it highlights strings with % notation.

This is how it looks now:
<img width="241" alt="screen shot 2017-10-13 at 8 53 15 pm" src="https://user-images.githubusercontent.com/5069065/31559228-91e42360-b058-11e7-8338-611002761364.png">

Does it designed behavior? If it is, can I somehow customize `enh-ruby-mode` settings to highlight array litera

[2017-10-20 17:22] anildigital opened #121 "Is this mode still useful with Ruby 2.4.2 and GNU Emacs 25.3.1?"
Is this mode still useful with Ruby 2.4.2 and GNU Emacs 25.3.1? Please mention supporting Ruby and Emacs version if not mentioned. Thanks.

[2017-10-20 22:36] zenspider commented on #121
Do you have an actual issue?

[2017-10-20 22:37] zenspider commented on #119
Yeah. I saw this yesterday :(

[2017-10-20 22:41] zenspider commented on #120
Nope. that isn't supported at the moment. If you do `M-x describe-face` while the point is inside the string, you'll see `font-lock-string-face` and if you do the same over the array you'll just see `default`.

It is probably possible to extend the lexing to include that type of array as a string type for the elements within. Look at erm_buffer.rb.

[2017-10-20 22:44] zenspider commented on #119
[code]

[2017-10-20 22:45] zenspider commented on #119
[code]

I still suck at reading the output at the end (what actually goes over the wire).

But everything above seems to suggest that it is lexing fine?

[2017-10-20 22:54] zenspider commented on #121
Closing this as it feels too much like trolling. If you have an actual issue, please file one.

How to ask the right questions to get you the right answer: https://www.mikeash.com/getting_answers.html

[2017-10-20 22:54] #121 closed

[2017-10-21 04:25] anildigital commented on #121
Ah somewhere docs talked about Ruby 1.9 and +. That seemed so long before. So this question. Sorry, there was no intent to troll.

[2017-10-31 21:38] zenspider commented on #120
anything?

[2017-11-01 07:02] knu commented on #119
@stoodfarback Great!  That looks like it and it was my fault! 😆

[2017-11-01 07:17] knu commented on #119
Changing the second element to`t` seems to fix the problem.
Looks like %w/W/i/I literals do not get correct fontification, but that would be a separate problem.

[2017-11-01 23:38] #119 closed

[2017-11-01 23:46] zenspider commented on #119
Thank you for this... I was just fighting it when I remembered that your PR came in.

[2017-11-02 12:31] gingray opened #123 "Some symbols become unreadable on dark theme"
I've dark them in my spacemacs and when switch from `ruby-mode` to `enhanced-ruby-mode` some symbols become unreadable here an example ![Alt text](https://monosnap.com/file/JjFQPrGCqRXk4fCbk5O0SPzgMRslDC.png)
What can I do with that? I know that in doc was mention about
[code]
In my case it seems not help me much. Thanks in advance.

[2017-11-02 14:39] gingray commented on #123
I have found the answer how to properly do it in spacemacs
[code]
put this line in `dotspacemacs/user-config`

[2017-11-02 14:39] #123 closed

[2017-11-24 10:36] zw963 opened #125 "Indent not correct for following rb file."
Following is a example file,  use ruby 2.3 as backend.

[code]

[2017-11-27 08:08] magandrez opened #126 "Error highlighting a ruby buffer"
After opening an otherwise normal ruby script (couple of hundred lines, no methods), enh-ruby-mode fails to highlight the source code. Closing the buffer is not possible and I get the following error in *Messages*

[code]

Running emacs on Mac OS X (from Homebrew cask): `GNU Emacs 25.3.1 (x86_64-apple-darwin13.4.0, NS appkit-1265.21 Version 10.9.5 (Build 13F1911)) of 2017-09-12`

Any idea of what

[2017-11-27 08:24] magandrez commented on #126
Note: I confirmed this behaviour (not highlighting properly) affects ruby > 2.4

[2017-12-12 20:54] zenspider commented on #126
Not sure, but I've fixed a similar sounding bug recently. Can you check that you still have a problem against the latest version?

Also, are you having a problem with ruby 2.4? Or just prereleases?

[2017-12-12 20:57] zenspider opened #127 "Heredocs get confused by normal syntax"
[code]

Totally fucks it up. Any of those quote characters cause the rest of the buffer to be considered a string until another shows up. This is driving me nuts.

[2017-12-12 20:59] zenspider commented on #127
[code]

I hate reading these things... There is a proper `heredoc_beg` and `heredoc_end`. I need to get out my secret decoder ring to figure out how the last line is ACTUALLY affecting the syntax highlighting.

Also:

[code]

Looks TOTALLY correct. WTF?

[2017-12-12 21:04] zenspider commented on #127
Interesting... this does not reproduce in a bare bones emacs. Must be my setup. Digging...

[2017-12-12 21:33] zenspider commented on #127
Nope! Dunno why, but in poking around my init (and deleting elc files and the like) the problem went away... I think it might have been autoload cruft? I can't tell. I'll poke through my diffs but I really didn't do much more than un/comment out my init and fire up emacs over and over.

[2017-12-12 21:33] #127 closed

[2017-12-12 21:34] zenspider commented on #125
When I open the above file and reindent I get:

[code]

[2017-12-13 06:29] zw963 commented on #125
@zenspider , Sorry!, i reopen this file, it indent correct now.

i think maybe some ruby syntax rule for emacs ruby-mode is fixed
recent day, or syntax error happen when I create this issue.

sorry for confuse.

[2017-12-13 06:29] #125 closed

[2017-12-13 21:17] zenspider commented on #125
Awesome! Glad it is working for you. Thank you very much for your bug reports. I appreciate them.

[2017-12-18 20:24] magandrez commented on #126
Hi,

Ruby 2.4 and above, not with pre-releases.

[2017-12-18 21:29] zenspider commented on #126
Does that mean you've verified that you still have the problem with the latest version?

[2017-12-21 07:36] zw963 opened #128 "Indent not correct for following code. (use Ruby 2.3.0)"
[code]

[2017-12-21 07:39] zw963 opened #129 "Render error when '#' is exists in regex literal /..../"
Following is a example:

[code]

After that `#` until line end, all content is render as a comment string.

[2018-01-12 16:17] zw963 commented on #129
Sorry for confuse,  it is fixed now (perhaps caused by rinari? I just remove it), maybe some package caused this issue.

[2018-01-12 16:17] #129 closed

[2018-01-17 00:17] c0imbra opened #130 "Highlighting breaks when using magic variable"
I'm not sure if this is a known behaviour, but the highlighting breaks when using backquote for the magic variable __$`__ or when using quotes inside percent literals.

![highlight-break](https://i.imgur.com/94XMRKQ.gif)

Is there any chance of fixing this?

[2018-01-17 00:30] c0imbra commented on #130
Apparently the percent literal issue can be solved by escaping the characters (silly me). But unfortunately the magic variable still breaks the highlighting, and the only workaround is to import the english library instead.

[2018-01-17 00:41] stoodfarback commented on #130
Both of these cases highlight correctly for me:
![screenshot-2018-01-16-16 40 08](https://user-images.githubusercontent.com/45657/35019475-f5a088bc-fadb-11e7-966d-081de5f2dc1e.png)

There was a similar issue earlier with quotes inside heredocs (see #119).
Make sure you have the latest version of enh-ruby-mode to see if it's the same problem.

It might also be something else in your configuration.

[2018-01-17 01:28] c0imbra commented on #130
@stoodfarback I'm quite sure I have the latest version. I also found out that the highlighting goes normal once I switch to "ruby mode" and "enh-ruby-mode", so it's probably not an issue with the package itself.
![issue-fixed](https://i.imgur.com/Z6bQFVG.gif)
It's best to close this issue now, as I probably will procrastinate to dig any further into this. Thanks for the help.

[2018-01-17 01:28] #130 closed

[2018-01-22 13:38] yxhuvud opened #131 "Method call after block not indented correctly."
In some cases chained method calls get indented incorrectly:

Expected:
[code]
got:

[code]

[2018-01-24 00:02] zenspider opened #132 "ruby-toggle-block/brace fails randomly even in isolation"
`rake docker` runs all the tests in a completely isolated environment and this tests fails ~50% of the time. I have yet to dig into why (but have upgraded all of the docker infrastructure to make sure it isn't a versioning thing).

[2018-01-24 00:55] zenspider commented on #128
Reduced:

[code]

[2018-01-24 00:56] zenspider commented on #126
... you need to work with me...

[2018-01-24 00:57] zenspider commented on #131
Reduced:

[code]

[2018-01-24 02:36] #128 closed

[2018-01-24 03:31] zenspider commented on #126
I haven't seen this in a long while so I'm going to assume this is fixed.

[2018-01-24 03:31] #126 closed

[2018-01-24 03:33] zenspider commented on #109
No response. Closing.

[2018-01-24 03:33] #109 closed

[2018-01-24 04:33] zenspider commented on #86
I can't repro with your file.

1. Create file "bug086.sh" and paste in your output.
2. Select inner scheme code
3. Run `narrow-to-region-indirect`
4. In new narrowed buffer, try to activate `scheme-mode`

I get an error and the following in `*Messages*`:

[code]

[2018-01-24 04:51] zenspider commented on #99
I think this is fixed by cleaning up process management. The "Selecting deleted buffer" errors seem to have been excised.

[2018-01-24 04:51] #99 closed

[2018-01-24 07:56] mrcasals commented on #109
@zenspider Hi! Sorry for the lack of updates... I have since moved on and I don't remember if I ever got to fix this, sorry 😞

[2018-01-24 15:12] zw963 commented on #99
This worked now, Thank very much!

[2018-01-24 18:47] wasamasa commented on #86
Why `narrow-to-region-indirect` (I don't have it as command here)? I'm speaking of regular `narrow-to-region`.  If I replace step 3 with "Run `M-x narrow-to-region`", syntax highlighting works fine.

Here are the contents of an Org file for the Ruby case:

[code]

[2018-02-02 10:04] argent-smith opened #133 "Incorrect indentation after keyword arguments"
Hi. I’ve got incorrect autoformatting in cases like this:

[code]

How can I set it up to ignore «keywords» if they are followed by a `:` (a 2+ hash notation)?

[2018-02-06 23:02] zenspider commented on #128
Ironically, those are only broken BECAUSE OF the comment... That seems like a separate issue to me. Please file anew.

[2018-03-27 20:02] #131 closed

[2018-03-27 20:18] zenspider commented on #133
currently indents as:

[code]

which is, I assume, what you want?

[2018-03-27 20:33] zenspider opened #138 "Clean up test output"
Figure out how to run the tests such that "Indenting region..." never shows up in the run of the tests.

[2018-03-28 10:41] zenspider commented on #138
DONE!

[2018-03-28 10:41] #138 closed

[2018-03-30 00:00] zenspider commented on #133
I think this is fixed. Closing.

[2018-03-30 00:00] #133 closed

[2018-03-30 10:16] #90 closed

[2018-03-30 22:59] zenspider commented on #120
Fixed in latest commit.

[2018-03-30 22:59] #120 closed

[2018-03-31 00:36] muirrn commented on #78
This issue is resolved now right?

[2018-03-31 10:13] zenspider commented on #78
yup yup. thanks!

[2018-03-31 10:13] #78 closed

[2018-03-31 13:32] muirrn opened #139 "enh-ruby-use-ruby-mode-show-parens-config messes up deep indenting"
Without `enh-ruby-use-ruby-mode-show-parens-config` I get this:

[code]
But after turning on `enh-ruby-use-ruby-mode-show-parens-config` I get this:

[code]

[2018-04-03 00:22] zenspider commented on #139
Assuming all the indentation issues that come up can get tests written for them and they can get driven out of the system, is there any reason to keep smie support around? Seems like it should just be deprecated and eventually removed, no? Objections?

[2018-04-03 00:24] muirrn commented on #139
See #140 where I removed the dependency on ruby-mode (so smie no longer interferes with indentation).

[2018-04-09 05:47] zenspider commented on #139
This is fixed, yes?

[2018-04-09 10:48] muirrn commented on #139
Yes, thank you.

Fixed in e592beadcb2ddd55c62e8e831a038d02aad5ee2c for future reference.

[2018-04-09 10:48] #139 closed

[2018-04-21 11:11] zw963 opened #143 "punctuation method which no paramater indent not correct."
Following is a example:

[code]

[2018-04-21 11:14] zw963 commented on #143
enh-ruby-mode use ruby version: 2.4.3

[2018-04-21 12:25] zw963 opened #144 "Could not find this repo if find enhanced-ruby-mode in github"
Do you think rename this repo to `enh-ruby-mode` ?

[2018-04-23 23:40] gogocurtis opened #145 "Indent with hash argument to block goes crazy."
this

[code]
becomes
[code]

[2018-04-24 05:08] zw963 commented on #145
This worked foe me，indent correct

[2018-04-25 01:45] muirrn commented on #145
Indented correctly for me, but indented as you described in normal ruby-mode.

1. Are you sure you are in enhanced ruby mode?
1. If so, are you using the latest version of enhanced ruby mode?
1. If so, can you share any erm related config settings you have?

[2018-04-25 01:50] muirrn commented on #144
Google search works fine. I think github search is due to this repo being a [fork](https://help.github.com/articles/searching-in-forks/).

[2018-04-26 05:23] #145 closed, assigned to nobody

[2018-05-05 11:40] muirrn opened #146 "Poor performance on large files"
On very large files (~5k lines), pressing RET to make a new line has a noticeable delay. `enh-ruby-indent-line` calls `erm-wait-for-parse` which does a synchronous full parse. No single thing is particularly slow, but the combination of waiting for erm.rb, parsing the response and calculating the indent adds up to a few hundred milliseconds, which is unbearable slow since you make new lines all th

[2018-05-22 10:22] anquegi opened #147 "Open in ruby-mode when the ruby file has a shebang line"
This is not a bug but I'm not sure of how to solve this. If I have a ruby script that has the shebang line

#!/usr/bin/env ruby

![captura de pantalla 2018-05-22 a las 12 19 49 2](https://user-images.githubusercontent.com/2518346/40356811-81efd9ee-5dba-11e8-83e2-becbac1e8369.png)

but when the file has not the shebang line it opens with enhanced ruby-mode

![captura de pantalla 2018-05-22 a las 12

[2018-05-22 11:47] anquegi commented on #147
Sorry for opening this issue, it was a setting of emacs:

[https://www.gnu.org/software/emacs/manual/html_node/emacs/Choosing-Modes.html](https://www.gnu.org/software/emacs/manual/html_node/emacs/Choosing-Modes.html)

The problem was in the variable interpreter-mode-alist, that have this elements:
[code]

In my configuration file I added

[code]

I'm sure that there are other and better solutions

[2018-05-22 11:47] #147 closed

[2018-06-04 20:18] zenspider commented on #144
I think renaming it would screw up a lot of systems. Sorry. I don't think this is a good idea.

I always search for packages not via google or github search, but via melpa. They always link to the repos.

[2018-06-20 19:54] Nondv commented on #146
I am pretty sure it's not healthy to have files with 5k lines of ruby code:)

[2018-06-21 01:53] zenspider commented on #146
Define "noticable delay"?

I have many ruby files with ~5kloc and hitting return in them, even at the bottom of the file, seems fine enough to me. I'm not sure how to programmatically measure this tho. If I figure that out, I'll let you know.

[2018-06-21 02:07] zenspider commented on #146
Cool beans:

[code]

This shows:

[code]

So, in my case, nearly all the time (169/179) is being spent on `electric-indent` and almost nothing is spent on `erm-req-parse`. If I disable `electric-indent-mode` the profile is near zero time spent on anything.

Can you run the profiling code and share your results?

[2018-06-27 23:30] zenspider commented on #146
No response from OP... poke

[2018-06-28 01:37] muirrn commented on #146
It takes around 350ms to insert a newline in my big file:

[code]

If you keep expanding your profiling output (and it is like mine), electric indent is just calling `enh-ruby-indent-line`, where it spends all its time.

[2018-06-29 21:31] #144 closed

[2018-07-10 09:33] yanyingwang opened #149 "indent when invoked space"
Hi, guys, I find out some very weird problems with `enh-ruby-mode`, here are the examples:
![2018-07-10 17 48 04](https://user-images.githubusercontent.com/4198408/42502734-6ec9156c-8469-11e8-8540-1753ff7baa27.png)

And I already read the issues at [here](https://github.com/zenspider/enhanced-ruby-mode/issues/36) and [here](https://github.com/zenspider/enhanced-ruby-mode/issues/87). But it seems `

[2018-08-03 13:44] andreasknoepfle opened #150 "Quoted symbols as hash keys"
Enh-Ruby mode syntax highlighting seems to be broken for symbols that use quotes:

Example:
[code]
=>
<img width="307" alt="screen shot 2017-03-24 at 15 34 11" src="https://cloud.githubusercontent.com/assets/239398/24298803/70e1eafe-10a7-11e7-9990-cc2e8898257c.png">

Another example:

<img width="258" alt="screen shot 2017-03-24 at 15 33 36" src="https://cloud.githubusercontent.com/assets/239398/2

[2018-09-24 17:46] valrus opened #151 "Single quote in heredoc breaks"
Possibly related to #127  - in the following file

[code]

I get `Scan error: "unbalanced parentheses"` message when trying to use `evil-matchit` to jump between any pairs of braces. If you don't use evil I found that I can also get the same with `forward-sexp`.

Related to #127, I found I could also get this if I replace the single quote with a double quote or backtick.

[2018-11-22 13:33] zw963 opened #152 "highlight not working when worked with git-timemachine.el"
`git-timemachine.el` can make current buffer show history git content in
current buffer, and with a special buffer name, like this: `timemachine:feeds.rb`
(buffer name  a colon is included)

reproduce:

### set enh-ruby-mode as default rb file mode:
[code]

### open any ruby file which exists in a git repo

### run `git-timemachine` in minibuffer

### current buffer is fallback to last commit buff

[2018-11-24 09:11] v0dro opened #153 "Statically generate methods/classes/modules in a file"
A great (and simple) way to have better code navigation for a dynamic language would be to simply statically scan the file for classes and methods and open a buffer that contains these such that the use can follow the link and reach the given method.

This is being done by [elpy](https://github.com/jorgenschaefer/elpy) and it makes for a very simple and friendly way of navigating a file.

Would be

[2018-11-25 18:42] mirubiri commented on #152
Same issue here

[2019-01-03 21:04] zenspider commented on #153
Have you seen imenu? It does this already and ships with emacs.

I have this in my ERM hook and it Just Works™:

[code]

[2019-01-03 21:14] zenspider commented on #152
OK. This one is odd. The mode is still active, but obviously not doing it's job. `C-h m` shows the key bindings still assigned, but they don't really work (they're doing stuff, but not relevant to the code). Running `M-x erm-reset` brings everything back (testing with `C-m-a`) and keeps git-timemachine active. But no errors go to `*Messages*` or anything. 🤷‍♀️

[2019-01-03 21:15] zenspider commented on #152
And I can confirm that haskell-mode and git-timemachine seem to be perfectly happy with each other. How odd.

[2019-01-03 22:01] zenspider commented on #152
Filed a bug here:
https://gitlab.com/pidu/git-timemachine/issues/73

[2019-02-15 13:32] yxhuvud opened #154 "Multiline indentation of statement in parenthesises."
The following is a bit surprising to me:

Good example:
[code]
This on the other hand indents without the leading spaces:
[code]
I would have expected this:
[code]

[2019-02-26 17:09] muirrn commented on #146
Thanks.

[2019-02-26 17:09] #146 closed

[2019-03-14 12:07] pidu commented on #152
I added a workaround calling `erm-reset-buffer`on revision change.

[2019-03-14 12:18] zw963 commented on #152
where？

[2019-03-14 12:18] pidu commented on #152
In git-timemachine.

[2019-03-14 16:37] zw963 commented on #152
@pidu , Cool, it worked now, thank you!

[2019-03-14 16:37] #152 closed

[2019-03-25 21:31] zenspider commented on #154
I can't reproduce... Lemme double check some stuff...

[2019-03-25 21:33] zenspider commented on #154
Nope. The only thing I hadn't pushed was some process oriented stuff.

What version do you have / where did you get it from?

[2019-03-25 21:37] zenspider commented on #151
I don't use `evil`, let alone `evil-matchit`, but `forward-sexp` works fine for me with this example at all levels (inside to out, or across the whole thing).

Can you tell me what version you have and where you got it? Can you reproduce with `emacs -Q` and loading the library?

[2019-03-25 21:46] valrus commented on #151
Looks like the version is `enh-ruby-mode-20180730.2309` from ELPA. I'm using [doom-emacs](https://github.com/hlissner/doom-emacs) so it's very possible something's interfering. I'll test in `emacs -Q` when I have a chance.

[2019-03-26 03:28] zenspider commented on #151
I tagged today's push of you get yours from melpa-stable.

[2019-03-26 08:34] yxhuvud commented on #154
Hi, I have version `20190325.2132`  and installed from melpa.

Other info:
emacs: 25.2.2
`.emacs`:
[code]

[2019-03-28 23:13] achempion opened #155 "Indention messed up with backslash (spacemacs)"
Hi, thank you for the awesome work, looks like I've spotted some unintended behaviour.

### example 1
What I'm getting
[code]

What I want
[code]

### example 2
with `(setq enh-ruby-mode-deep-indent-paren nil)`

What I'm getting
[code]

What I want
[code]

[2019-04-03 11:26] zenspider commented on #150
Unfortunately, your example isn't valid syntax:

[code]

[code]

That's tested under ruby 2.x (x=3..6) at least, maybe it was valid in 1.9?

[2019-04-03 11:28] zenspider commented on #150
Your other example:

[code]

seems to work fine with the current version. Can you update and try to find another example that doesn't work for you?

[2019-04-03 11:29] zenspider commented on #150
Closing. Please file a new issue if you can find another example.

[2019-04-03 11:29] #150 closed

[2019-04-03 12:06] zenspider commented on #149
1. Please don't post graphics as your repro.

2. for your hashes, the first one (the OK one) is the supported scenario by default. You can get what you want by using `enh-ruby-hanging-brace-deep-indent-level` set to `1`... But it won't be depending on the previous line's content at all. Just an extra space.

3. Same with `enh-ruby-hanging-paren-deep-indent-level`... but I should say, that is NOT i

[2019-04-03 12:17] zenspider commented on #155
I think this is pretty close to what you want, yes?:

[code]

[2019-04-03 19:55] zenspider commented on #151
Anything?

[2019-04-03 20:13] valrus commented on #151
Tried the new version - worked fine in `emacs -Q`. Must be something in doom - I'll open an issue there. Thanks!

[2019-04-03 20:13] #151 closed

[2019-04-03 21:53] zenspider commented on #151
Please link it here

[2019-04-05 13:55] toddjeff opened #156 "enh-ruby-add-log-current-method not including nesting modules in result"
I'm using `robe` and trying to navigate my project.
`robe` uses `enh-ruby-add-log-current-method` to resolve the current context.

When I have code like:
[code]
the call to `enh-ruby-add-log-current-method` returns `Class#method` when the expected result should be `One::Two::Class#method`

Tests, first one fails, second succeeds:
[code]

Related to https://github.com/zenspider/enhanced-ruby-mode/i

[2019-04-08 09:07] zenspider commented on #155
With the latest version:

[code]

[2019-04-08 09:15] zenspider commented on #149
With the latest version:

[code]

[2019-04-09 04:26] zenspider commented on #154
Please update and try again with this file:

[code]

[2019-04-09 07:15] yxhuvud commented on #154
Ah. Found it. That file format correctly. What does not format correctly is the following file:
[code]

[2019-04-09 07:52] zenspider commented on #154
Perfect. Thank you.

[2019-04-09 07:55] zenspider commented on #154
Minimal repro:

[code]

[2019-04-09 07:58] zenspider commented on #154
Compared to the example with no parens, what the parser sees is this:

[code]

[2019-04-10 00:10] zenspider commented on #154
Fixed and pushed (but not tagged yet).

Please test.

[2019-04-10 00:10] zenspider commented on #149
anything?

[2019-04-10 00:21] #143 closed

[2019-04-10 00:22] zenspider commented on #143
Fixed and pushed.

BTW, the quick workaround for this was to add `()`. The arg processing reset it.

[2019-04-10 00:23] zenspider commented on #155
Anything?

[2019-04-10 00:35] zenspider commented on #156
I've added your tests and marked the bad one as an expected failure. Thank you. I'll close #96 since this one is more helpful.

[2019-04-10 00:35] zenspider commented on #96
Closing in favor of #156.

[2019-04-10 00:35] #96 closed

[2019-04-10 03:04] zw963 commented on #143
Cool, it worked, thanks!

[2019-04-10 07:59] yxhuvud commented on #154
Yup, that seems to do the trick. Great!

[2019-04-11 11:27] #154 closed

[2019-04-12 15:25] #155 closed

[2019-04-12 16:31] zw963 opened #157 "Syntax detect or broken syntax error cause CPU high usage."
Basically, i am recent always working on big ruby file. (1000+ lines)

when some error happen, e.g. double quotes not paired, missing ] or ),  etc ...
often cause 100%  CPU usage, it will restore to normal usage after
a while(several seconds), but when keeping editing,  this case happen more
frequently.

I though this maybe not a bug, but, if we can defer syntax detect(e.g. delay 5 second)
it will

[2019-04-15 10:40] zw963 opened #158 "indent error when work with new yasnippet-mode"
Following is a issue create from yasnippet repo, i just copy to here.

For reference, a quick reproducer, run as `emacs -Q -L .../yasnippet -L .../enh-ruby-mode -l issue-969.el`

[code]

I don't really understand why it fails. For some reason
enh-ruby-calculate-indent returns 0 for the middle line when
initially expanding the snippet, but later it returns 2 as expected.
I find enh-ruby-mode's inde

[2019-04-16 13:59] achempion opened #159 "block indention handling"
I have the code
[code]

I think the correct version would be
[code]
either
[code]

env
[code]
package version `20190408`

[2019-04-16 18:45] achempion commented on #159
another example
[code]

[2019-04-21 08:54] zenspider commented on #157
No, I'm experiencing it too, so I don't think it is the ruby you're using. Not sure how to track it down. I've tried `debugger-on-quit` and didn't get anything in my backtraces. I've just backed up to the last tagged version and that seems to be fine... but I haven't determined if it is a cumulative effect thing or immediate.

[2019-04-23 03:51] zw963 opened #160 "Indent error. (please see example)"
[code]

Thanks

[2019-04-23 06:48] zw963 commented on #157
@zenspider , Hi, when i update to newest version, 1f72eb5, current emacs is idle frequently when edit.
i need press many times C-g, to cancel this idle status. after i switch to `ruby-mode`, it worked.

[2019-04-23 07:56] zw963 commented on #157
more accurate, when i press "Ctrl-x Ctrl+S" to save buffer, emacs is idle.

[2019-04-24 05:11] zw963 opened #161 "enh-ruby-mode will cause emacs idle frequently when editor."
Hi, when i update to newest version, 1f72eb5, current emacs is idle frequently when edit.
Emacs CPU usage is 100%, but no see any ruby process have very high CPU usage.
i need press dozens times C-g, to cancel this idle status. but, when i continue input, it
happen again, i have to switch to "ruby-mode" to make it work.

after i switch to ruby-mode, it worked.

This situation is happen only on spe

[2019-04-26 16:21] zw963 commented on #161
Hi, @zenspider , after revert the last commit: 1f72eb5, the idle issue is gone.

I guess this bug is introduced in this commit.

[2019-05-08 20:08] Fibrasek commented on #82
Any update on this issue? It's rather annoying :smile:

[2019-05-10 13:23] npostavs commented on #158
I tracked down the yasnippet change to joaotavora/yasnippet@1d96da2e08664c31ff7f6f7441da1f4fa5680b1f, which is binding `inhibit-modification-hook` around snippet insertion. yasnippet does also do `(run-hook-with-args 'after-change-functions (point-min) (point-max) 0)` after the insertion is done (with narrowed around the snippet contents, that's why `(point-min)` and  `(point-max)` make sense), wh

[2019-05-10 14:59] thiagoa commented on #159
@zenspider Can we close this one?

[2019-05-11 21:17] zenspider commented on #159
Totally. Thank you.

[2019-05-11 21:17] #159 closed

[2019-05-13 01:19] zenspider commented on #160
I believe this is fixed with #163 with default variable values. Let me know if you find anything else. Thank you!

[2019-05-13 01:19] #160 closed

[2019-05-13 01:20] zenspider commented on #161
I've rolled out `forward-sexp-function` for now until I can figure this out.

[2019-05-13 01:20] #161 closed

[2019-05-13 01:23] zenspider commented on #158
Neither can I. 😕

I'm trying to slowly get some sort of doco going that'll define the wire protocol, but this stuff is pretty opaque.

[2019-05-13 01:24] zenspider commented on #158
Can you pop in a call to `erm-wait-for-parse` before doing anything with `yasnippet` and see if that helps at all?

[2019-05-13 01:25] zenspider commented on #157
I rolled out the change that seems to be the culprit. This should be "fixed" for now.

Thank you for the report!

[2019-05-13 01:25] #157 closed

[2019-05-13 01:26] zenspider commented on #149
No response for a month. Closing.

[2019-05-13 01:26] #149 closed

[2019-05-13 01:27] zenspider commented on #82
@Fibrasek patches welcome.

[2019-05-13 03:13] npostavs commented on #158
Yes, I can confirm the patch below fixes the issue:

[code]

(putting the `erm-wait-for-parse` call earlier works too)

[2019-05-13 03:18] zw963 commented on #160
Yes, it fixed! thank you.

[2019-05-21 03:01] zw963 opened #164 "Syntax error for following code. (But actually not)"
[code]

[2019-05-21 05:43] zw963 commented on #164
Sorry for confusing, this code is changed by rubocop, and cause syntax error.

[2019-05-21 05:43] #164 closed

[2019-05-21 16:11] PierreRambaud commented on #18
Thank @pvenegas Fix my issue :wink:

[2019-05-22 17:49] zenspider commented on #158
@zw963  / @npostavs can one of you submit a PR to joaotavora/yasnippet with the patch above?

Also makes me wonder if there isn't some sort of generalized protocol to say "this mode needs to finish X before you can do things".

[2019-05-22 18:06] npostavs commented on #158
I'm the current yasnippet maintainer, so no specific need for a PR. But I'm not entirely sure putting in this mode-specific hack into yasnippet makes sense.

For modes using `syntax-propertize-function`, `(syntax-propertize POS)` will wait until the propertize function finishes running up to `POS`. But it tends to be a bad thing if it takes a noticeable amount of time (because it's called by font

[2019-05-24 17:21] Fibrasek commented on #82
@zenspider can you point me where to start? I'll be glad to fix this it'll be a good way to practice my elisp :)

[2019-06-18 15:01] Silex commented on #86
`narrow-to-region-indirect` probably comes from here: https://demonastery.org/2013/04/emacs-narrow-to-region-indirect/

[2019-06-21 18:37] zenspider commented on #86
Correct. And it uses `narrow-to-region` underneath so it should be roughly equivalent. Since I have the problem there too, I think the difference is probably fine.

[2019-06-26 01:20] npostavs commented on #158
E.g., the following patch fixes it for me, and doesn't break any enh-ruby-mode tests:
[code]

[2019-06-26 02:28] zenspider commented on #158
That DOES break for me... but it's `enh-ruby-toggle-block/do` which has always been a bit sketchy.

Can you tell me how you ran your tests?

[2019-06-26 11:47] npostavs commented on #158
Oh, `enh-ruby-toggle-block/do` does fail for me too, I didn't notice because `rake test:elisp` returns a successful exit status in this case and I didn't scroll down.

[2019-06-27 00:24] zenspider commented on #158
Yeah. I don't think that's actually on your change... the test has been flaky. See #132.

I have no idea how to dig into that one.. I should probably mark it as skip or something for now. It's noise.

[2019-07-30 02:55] v0dro opened #165 "Syntax coloring problem for certain code."
EnhRubyMode does not color the following code properly and therefore my entire file after this code is wrongly colored:
[code]

[2019-08-25 09:35] zenspider commented on #165
Yup. Same is true for ruby-mode. I do not have the time to debug something as esoteric as this. Sorry. You're welcome to take a whack at it.

[2019-11-22 12:33] fredefox opened #168 "Rework sexp behaviour"
`enh-ruby-mode` rebinds `C-M-f` to `enh-ruby-forward-sexp`. That key is bound to `forward-sexp` by default. Similarly `C-M-n` is rebound to `enh-ruby-end-of-block` in stead of `forward-list` etc..

This means that the behaviour is inconsistent with the built-in functions. That works fine for those particular commands that have had their keys re-bound. However `enh-ruby-mode` does not rebind e.g. `

[2019-11-26 13:38] fredefox commented on #168
Section 26.4 of the Emacs manual says that

through the syntax table (*note Syntax Tables: (elisp)Syntax Tables.).

So I suppose that's the recommended way to get the desired behaviour from `forward-sexp` and friends.

[2019-11-28 21:22] nmk commented on #82
I just ran into this as well. It seems parenthesis around parameters do not make a difference. Current erm indents multi-line parameter lists like this:

[code]
Or without parens:
[code]
I would like to indent such calls like this:
[code]
Is there a setting I am missing? Otherweise I would appreciate a pointer on where to look. :-)

[2019-11-28 23:01] zenspider commented on #82
@nmk Take a look at `M-x enh-ruby-add-indent-file-local-variables`

Here's what I have, with all the defaults:

[code]

Indenting that whole file indents as you want with the parens. You might have some settings that go against that, so try first with these settings, and then `M-x enh-ruby-del-file-local-variables` and see how it indents after.

[2019-11-28 23:02] zenspider commented on #82
@Fibrasek clone the repo, try `rake` to see if all the tests pass... assuming they do, dig into the tests. They're pretty straightforward.

[2019-11-28 23:04] zenspider commented on #82
@nmk I should add: `M-x enh-ruby-add-file-local-variables` only adds the variables that you have that are different from the defaults, so maybe start there.

[2020-01-24 20:26] Fibrasek commented on #82
@zenspider I'll look into it, thanks!

[2020-04-06 22:59] patbl commented on #36
`(setq enh-ruby-deep-indent-construct nil)` will now give you the desired behavior: https://github.com/zenspider/enhanced-ruby-mode/pull/110

[2020-06-18 21:36] RJSent opened #170 "Wrong syntax color for certain commented words when first loading enh-ruby-mode"
If I have a ruby file with a comment containing any of the below words and load that file, the word is highlighted as if it were a method call. (Namely, a method implicity called, like `puts 'Hello'`). The word does not have to be by itself and can have other words around it as long as there's a space between them. The word can also be surrounded in [ ],  ( ), and { }. This happens if I load the f

[2020-06-22 06:45] zenspider commented on #170
What's with the squiggle underlines?

[2020-06-22 15:13] RJSent commented on #170
That screenshot was when I had flycheck enabled. Here's a new one with a bare init file, except for a manual install of enh-ruby-mode. This one also shows how they can be surrounded with [ ], { }, and ( ).
![enh-ruby-mode-syntax-coloring-2](https://user-images.githubusercontent.com/25639410/85303821-023fce80-b479-11ea-867b-b3939311060b.png)

[2020-06-27 00:01] zenspider commented on #170
I can see your behavior cleanly in this way:

[code]

where loader.el is:

[code]

[2020-06-27 00:02] zenspider commented on #170
I have fixed this bug in f2469f3... but I don't understand the fix at all. The documentation seems to suggest the opposite.

[2020-06-27 00:02] #170 closed

[2020-06-27 04:41] RJSent commented on #170
Fixed on my end as well. Thanks!

[2020-06-28 06:16] #132 closed

[2020-06-28 06:19] zenspider commented on #117
I _think_ this was just fixed by forcing font-lock to finish in the tests.

[2020-06-28 06:19] #117 closed

[2020-06-28 06:22] zenspider commented on #60
closing since the test documents this state well enough.

[2020-06-28 06:22] #60 closed

[2020-07-24 19:58] muirdm opened #171 "Delayed typing in large file"
The change in 3b97c6f7c4e0e462b74d57d3a0164f6b6f9b498e has resulted in terrible performance for me on large files. Typing anywhere in the large file is very delayed. It seems like the communication with the background process has to be asynchronous to not impact typing latency.

[2020-07-25 00:12] zenspider commented on #171
I was just about to reference a previous performance issue.... but it was you. 😛

#146

[2020-07-25 00:17] zenspider commented on #171
Can you do the profiling I did in #146 with your representative large file?

I'm totally open to suggestion on how best to handle the situation that this change fixes, as long as it doesn't regress. I had all sorts of pain from errors on "dead" buffers and this ensured they were processed and done by the time I could kill them. Better error handling (I tried several different styles) or whatever..

[2020-07-25 03:28] muirdm commented on #171
[code]

With the `before-change-functions` call to `erm-wait-for-parse` (very slow):

[code]

Without the call (not slow):
[code]

[2020-07-25 03:29] muirdm commented on #171
Do you have a way to reproduce the dead buffer errors reliably?

[2020-07-25 20:07] zenspider commented on #171
Not a stable one... it’s mostly comes from rapidly modifying saving and closing like with macros across files.

[2020-07-27 15:32] muirdm commented on #171
Do you have an example of an error?

[2020-07-29 06:13] zenspider opened #172 "something is up with quotes in regexps/strings"
given:

[code]

the highlighting is severely messed up for me. The quote in the regexp extends across the regexp `wtf` and into the comment until it encounters the other quote character.

With a similar file that replaces the regexp with `/./`, the behavior is as expected.

The REALLY messed up bit is, using `tools/debug.rb` on both of them show NO difference (other than the one character). I woul

[2020-07-29 06:36] zenspider commented on #172
Added f0bffbe to fix this... but now I'm back to the original problem of keywords being highlighted within strings/comments.

[2020-07-29 06:36] #172 closed

[2020-07-29 08:26] zenspider commented on #171
I don't. I'm disabling 3b97c6f locally for a while to see if I can replicate it again.

[2020-07-29 08:32] zenspider commented on #172
...which I can't replicate / don't remember how it came up. Maybe this was a non-issue?

[2020-12-07 09:13] ccmywish opened #173 "Local variable and method colorizing"
I'm customizing a [doom theme](https://github.com/hlissner/emacs-doom-themes/pull/545) and I find neither doom theme can colorize the local variable and method call with enh-ruby-mode.

Below are the language-specific elements in the doom theme, I find nothing that can be related to Ruby's local variable and method call.

1. builtin
2. comments
3. doc-comments
4. constants
5. functions
6. keywords

[2020-12-22 07:47] zenspider commented on #173
Personally, I don't find this to be a problem, but I've been coding in ruby for 20 years (and have never been a fan of [Angry Fruit Salad](https://www.emacswiki.org/emacs/AngryFruitSalad) no matter what language I'm coding in).

If you want to work on this, go for it. I'm not going to be putting effort into this tho.

[2020-12-22 08:10] zenspider commented on #171
Circling back (sorry)... Ironically, while doing more benchmarking I did get a consistent reproduction of the saving//closing error:

[code]

with that `revert-buffer` it blows up every time. I'll try to take a whack at it at some point, but I'll deal with it since it is probably mostly hitting me.

[2020-12-22 08:11] zenspider commented on #171
Also interesting: with that benchmark above I'm getting these 3 different results:

[code]

I dunno what's going on or why, but when I don't specify either electric-indent-mode, it seems slower than when I explicitly turn it on?!? Dunno.

[2020-12-22 08:13] zenspider opened #174 "Error reverting / closing buffers when parsing still going on"
Related to work being done in #171, I'm seeing this backtrace when I revert a buffer "too quickly" (guess):

[code]

[2020-12-22 08:59] ccmywish commented on #173
@zenspider Thanks for your reply. I should learn from your spirit and I'll try to work on it.  : )

[2020-12-22 08:59] #173 closed

[2020-12-22 09:00] zenspider commented on #174
I _think_ this is fixed in 28f30c05... but I'm leaving this up for a bit.

[2020-12-22 09:02] zenspider commented on #171
OK. I've rolled back the code that made it slow... I've profiled a fair amount including up to ~25kloc. If electric-mode is off, this all seems pretty zippy. Calling `erm-wait-for-parse` will slow things down, but seems to be dependent on where you are in the file (oddly, being at the end of the file seems faster? maybe it does a subset?)

Let me know if you see anything to the contrary. I have an

[2020-12-22 09:06] zenspider commented on #168
Sorry for dropping the ball on this one. If you want to rework it, go for it. I'd rather fix up the bound keys to be consistent to emacs for old-school emacs users & programs alike. The notion of a sexp in ruby is a bit messier... I'm not sure if the parser mechanics give that info back up to emacs well enough to navigate via the actual parse tree, but we can at least get as close as ruby-mode doe

[2020-12-22 09:10] zenspider commented on #158
`enh-ruby-toggle-block/do` has been fixed by @thiagoa so fixing this should be more possible now... however, that `add-hook` block above causes SEVERE slowdowns and had to be removed.

[2021-01-22 11:17] tarsius opened #181 "Conflict with helper.el that is part of Emacs"
Please rename `helper.el` a library by the same name is part of Emacs.

I understand that this is just for testing, but consider the following (which does not apply 100%) in this case:

[2021-01-22 11:18] tarsius commented on #181
Test files should not `provide` a feature. Providing a feature is only suitable for libraries that are loaded by other libraries/packages or by the end user using `require`. For `require` to be able to do its job, the library that provides the feature has to be located on the `load-path`, but test files should *not* be located on the `load-path`.

You are probably already loading this test file us

[2021-01-24 07:16] zenspider commented on #181
In removing the `require`, my tests no longer byte compile cleanly. All of the ert tests that were clean now look like this:

[code]

I haven't seen this one before...

[2021-01-24 09:08] tarsius commented on #181
Did you also replace `(require 'helper)` with something like `(load "path/to/helper.el")`?

I don't understand Ruby or Rakefiles, so I don't really understand where the byte-compiling of the tests happen, but I guess you might also have to adjust code around `emacs "--batch -f batch-byte-compile #{t.source}"`.

[2021-01-24 09:08] zenspider commented on #181
Figured it out. This should be taken care of. Thanks.

[2021-01-24 09:08] #181 closed

[2021-01-24 09:08] tarsius commented on #181
That was confusing! You posted just one second after me. :grinning:

[2021-01-24 09:10] tarsius commented on #181
Thanks!

[2021-05-18 17:49] zw963 commented on #158
Hi,  @zenspider, i meet a new issue which only happen on enh-ruby-mode with yasnippets, could you please check [this]?(https://github.com/joaotavora/yasnippet/issues/969#issuecomment-843397571)

BTW: i am not sure about this is  ``enh-ruby-mode` issue or `yasnippet`, because this issue not happen on 0.13, will happen on 0.14 with enh-ruby-mode only, ruby-mode always work.

Thank you.

[2021-06-01 04:58] gcentauri commented on #86
i'm experiencing something similar without explicitly using narrowing. source blocks in an org file do not get fontified properly with `enh-ruby-mode`. to recreate:

  - disable `enh-ruby-mode` from taking ruby buffers
  - `org-src-lang-modes` should either not have an entry for ruby or have `("ruby" . ruby)`
  - create an org file and insert a ruby source block with some code
  - you should see f

[2021-08-13 13:51] dgutov opened #182 "Change syntax of :, @ and $ to "'""
`ruby-mode` has been doing this for a number of years, and it would be great if `enh-ruby-mode` followed suit for consistency and compatibility.

These choices are better for dabbrev completion, for example.

Also: https://github.com/dgutov/robe/issues/132

[2021-08-13 16:12] zenspider commented on #182
Mmmm... I'm gonna need more of a clue than that. Help?

[2021-08-13 16:16] dgutov commented on #182
This should help:

https://github.com/emacs-mirror/emacs/blob/master/lisp/progmodes/ruby-mode.el#L180-L183

vs

https://github.com/zenspider/enhanced-ruby-mode/blob/master/enh-ruby-mode.el#L296-L299

[2021-08-13 16:23] zenspider commented on #182
Gotcha... I had honed in on that area in ERM but wasn't sure.

[2021-08-13 16:24] dgutov commented on #182
To be clear, this issue is only about three characters: `:`, `@` and `$`.

[2021-08-13 16:30] zenspider commented on #182
Tacking this on and taking it for a spin:

[code]

[2021-09-25 09:41] zw963 opened #183 "make insert "{ " configurable for ruby-do-end-to-brace."
Yes, what i means is this line.

https://github.com/zenspider/enhanced-ruby-mode/blob/master/enh-ruby-mode.el#L712

I have to override this function with my own version in my own config.

the only changes is `insert "{"` instead of `insert "{ "`. (remove ending space when use my own version)

that is:

[code]

will change to

[code]

instead of

[code]

Thank you.

[2021-09-25 09:43] zw963 commented on #183
i guess this comment come from original emacs ruby-mode, but anyway, i don't know where to create issue for `ruby-mode`.

[2021-12-24 04:28] Andsbf commented on #86
@gcentauri I have the same problem.

GNU Emacs 27.2
macos monterey 12.0.1
enh-ruby-mode 20210120.201

[2022-01-28 20:34] zw963 opened #185 "Add a options for ruby-toggle-block as done in ruby-mode."
Please check discuss here.

https://debbugs.gnu.org/cgi/bugreport.cgi?bug=53321

thank you.

[2022-03-28 12:28] aaronjensen opened #186 "Endless methods"
Ruby 3 and 3.1 bring us different versions of endless methods. They currently don't indent correctly in `enh-ruby-mode`:

Current:

[code]

Expected:

[code]

[2022-04-26 17:49] #182 closed

[2022-07-06 20:38] nfedyashev opened #191 ""value omission in Hash literals" syntax from Ruby 3.1"
I'm not sure if that's something in my Emacs configuration or that [value omission in Hash literals](https://github.com/ruby/ruby/commit/c60dbcd1c55cd77a24c41d5e1a9555622be8b2b8) is not supported in enh-ruby-mode:

![enh-ruby-mode](https://user-images.githubusercontent.com/61983/177637978-a4bf872b-edcf-49f3-ab42-cf3ee9ac6774.png)

As a workaround, I had to disable syntax checks(via `enh-ruby-check

[2022-07-07 16:01] stoodfarback commented on #191
Works correctly for me.
One possibility: if you have multiple versions of ruby installed, it might be picking up an older version (which doesn't support the new syntax).
You can specify which binary should be used like so:
`(setq enh-ruby-program "(path-to-latest-ruby)/bin/ruby")`

[2022-07-07 19:56] zenspider commented on #191
I just added the following command to help diagnose these issues:

65167d91ae7c65433de81a406a1eaca075ff5ff1

[2022-07-12 18:43] nfedyashev commented on #191
I think I can reliably reproduce it

1. Open project A(.ruby-version file is 2.5.0). Open any ruby file.
2. Switch to another project B using projectile (.ruby-version is 3.1.2)
3. "value omission in Hash literals" is treated as invalid syntax.

But If I start my Email(spacemacs) and open Project B(using projectile) right away, then there aren't any issues with Ruby 3.1 syntax highlighting, no war

[2022-07-15 11:01] zenspider commented on #191
ERM doesn't use `.ruby-version` but it will use your PATH if you don't have `enh-ruby-program` set and are firing emacs up in each project I guess...

So, don't do that? Set `enh-ruby-program` to your 3.1 version and you will be fine.

[2022-07-15 11:12] nfedyashev commented on #191
`describe-variable enh-ruby-program`

I'm using spacemacs, if that's important to mention:

[code]

[2022-07-16 20:55] zenspider commented on #191
Again, parsing ruby code with the wrong version of ruby isn't gonna work, so don't do that.

Setting `enh-ruby-program` to 3.1 (or whatever) will be more resilient. If you insist on keeping it pointing at a shim, then you're gonna need to use `erm-reset` periodically to restart the parsing process.

[2022-07-16 21:18] nfedyashev commented on #191
@zenspider got it. Thank you!

[2022-07-16 21:18] #191 closed

[2022-08-26 15:06] darth-cheney opened #192 "erm-define-faces throws error"
I am getting lots of face definition errors, and it seems to stem from `erm-define-faces` not calling correctly when the mode first activates. I'm getting the following trace:
[code]

[2022-10-01 21:54] #186 closed

[2022-10-01 21:58] zenspider commented on #192
not enough information to go on here... what version of emacs?

But also... somehow you're going from `(erm-darken-color 'font-lock-string-face)` to `(color-darken-name unspecified 20)` ... so, something is going wonky with`font-lock-string-face` on your side?

can you do `(describe-face '(font-lock-string-face))`

and `(face-attribute 'font-lock-string-face :foreground)` ?

[2022-10-01 21:59] zenspider commented on #185
patches welcome

[2022-10-01 22:01] zenspider commented on #183
You're filing tickets on this project for problems with ruby-mode??? Seriously my dude... No.

[2022-10-01 22:01] #183 closed

[2022-10-01 22:05] zenspider commented on #174
I feel like I still see this periodically, but less that I used to... keeping it open for a while longer.

[2022-10-01 22:07] zenspider commented on #171
Closing.

[2022-10-01 22:07] #171 closed

[2022-11-06 19:37] #158 closed

[2022-11-06 19:41] zenspider commented on #82
AFAICT, this is working fine for me. It seems obvious that nobody wants to patch this to work the way OP described. So should this ticket be closed?

[2022-11-06 19:43] zenspider commented on #185
No. Please refrain from filing issues like this. If you want to contribute to the project, then please do so... but don't give me homework.

[2022-11-06 19:43] #185 closed

[2022-11-06 19:45] zenspider commented on #174
I think I fixed this with 7e76d75 ... I haven't had problems since.

The above was fixed whenever I was rebasing lots of branches via magit and resolving conflicts via ediff. It often would blow up as I was finishing fixing a conflict and saving it back to the original buffer.

Since the commit above, I haven't had a problem since.

[2022-11-06 19:45] #174 closed

[2022-11-06 19:46] zenspider commented on #192
No response. Closing.

[2022-11-06 19:46] #192 closed

[2022-11-06 19:46] zenspider commented on #165
3 years, no response. Closing.

[2022-11-06 19:46] #165 closed